
/*
  ========================================
  Generic Styles
  ========================================
*/
small,
.small {
    font-size: 85%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-thin {
    font-weight: 100;
}

.text-normal {
    font-weight: 300;
}

.text-strong {
    font-weight: 700 !important;
}

.uppercase {
    text-transform: uppercase;
}

.letter-space {
    letter-spacing: 1em;
    margin-right: -1em;
}

.text-white {
    color: #fff !important;
}

.black {
    color: #000 !important;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-36 {
    font-size: 36px;
}

.font-size-48 {
    font-size: 48px;
}

.font-size-64 {
    font-size: 64px;
}

.clearlist,
.clearlist li {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

.no-transp {
    opacity: 1 !important;
}

.no-margin {
    margin: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-5 {
    margin: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-20 {
    margin: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-30 {
    margin: 30px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-40 {
    margin: 40px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-right-40 {
    margin-right: 40px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-50 {
    margin: 50px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-60 {
    margin: 60px;
}

.margin-left-60 {
    margin-left: 60px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-right-60 {
    margin-right: 60px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-70 {
    margin: 70px;
}

.margin-left-70 {
    margin-left: 70px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-right-70 {
    margin-right: 70px;
}

.margin-bottom-70 {
    margin-bottom: 70px;
}

.margin-80 {
    margin: 80px;
}

.margin-left-80 {
    margin-left: 80px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-right-80 {
    margin-right: 80px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.margin-90 {
    margin: 90px;
}

.margin-left-90 {
    margin-left: 90px;
}

.margin-top-90 {
    margin-top: 90px;
}

.margin-right-90 {
    margin-right: 90px;
}

.margin-bottom-90 {
    margin-bottom: 90px;
}

.margin-100 {
    margin: 100px;
}

.margin-left-100 {
    margin-left: 100px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-right-100 {
    margin-right: 100px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

@media (max-width: 767px) {
    .no-margin-xs {
        margin: 0;
    }

    .no-margin-xs-left {
        margin-left: 0;
    }

    .no-margin-xs-top {
        margin-top: 0;
    }

    .no-margin-xs-right {
        margin-right: 0;
    }

    .no-margin-xs-bottom {
        margin-bottom: 0;
    }

    .margin-xs-5 {
        margin: 5px;
    }

    .margin-left-xs-5 {
        margin-left: 5px;
    }

    .margin-top-xs-5 {
        margin-top: 5px;
    }

    .margin-right-xs-5 {
        margin-right: 5px;
    }

    .margin-bottom-xs-5 {
        margin-bottom: 5px;
    }

    .margin-xs-10 {
        margin: 10px;
    }

    .margin-left-xs-10 {
        margin-left: 10px;
    }

    .margin-top-xs-10 {
        margin-top: 10px;
    }

    .margin-right-xs-10 {
        margin-right: 10px;
    }

    .margin-bottom-xs-10 {
        margin-bottom: 10px;
    }

    .margin-xs-15 {
        margin: 15px;
    }

    .margin-left-xs-15 {
        margin-left: 15px;
    }

    .margin-top-xs-15 {
        margin-top: 15px;
    }

    .margin-right-xs-15 {
        margin-right: 15px;
    }

    .margin-bottom-xs-15 {
        margin-bottom: 15px;
    }

    .margin-xs-20 {
        margin: 20px;
    }

    .margin-left-xs-20 {
        margin-left: 20px;
    }

    .margin-top-xs-20 {
        margin-top: 20px;
    }

    .margin-right-xs-20 {
        margin-right: 20px;
    }

    .margin-bottom-xs-20 {
        margin-bottom: 20px;
    }

    .margin-xs-30 {
        margin: 30px;
    }

    .margin-left-xs-30 {
        margin-left: 30px;
    }

    .margin-top-xs-30 {
        margin-top: 30px;
    }

    .margin-right-xs-30 {
        margin-right: 30px;
    }

    .margin-bottom-xs-30 {
        margin-bottom: 30px;
    }

    .margin-xs-40 {
        margin: 40px;
    }

    .margin-left-xs-40 {
        margin-left: 40px;
    }

    .margin-top-xs-40 {
        margin-top: 40px;
    }

    .margin-right-xs-40 {
        margin-right: 40px;
    }

    .margin-bottom-xs-40 {
        margin-bottom: 40px;
    }

    .margin-xs-50 {
        margin: 50px;
    }

    .margin-left-xs-50 {
        margin-left: 50px;
    }

    .margin-top-xs-50 {
        margin-top: 50px;
    }

    .margin-right-xs-50 {
        margin-right: 50px;
    }

    .margin-bottom-xs-50 {
        margin-bottom: 50px;
    }

    .margin-xs-60 {
        margin: 60px;
    }

    .margin-left-xs-60 {
        margin-left: 60px;
    }

    .margin-top-xs-60 {
        margin-top: 60px;
    }

    .margin-right-xs-60 {
        margin-right: 60px;
    }

    .margin-bottom-xs-60 {
        margin-bottom: 60px;
    }

    .margin-xs-70 {
        margin: 70px;
    }

    .margin-left-xs-70 {
        margin-left: 70px;
    }

    .margin-top-xs-70 {
        margin-top: 70px;
    }

    .margin-right-xs-70 {
        margin-right: 70px;
    }

    .margin-bottom-xs-70 {
        margin-bottom: 70px;
    }

    .margin-xs-80 {
        margin: 80px;
    }

    .margin-left-xs-80 {
        margin-left: 80px;
    }

    .margin-top-xs-80 {
        margin-top: 80px;
    }

    .margin-right-xs-80 {
        margin-right: 80px;
    }

    .margin-bottom-xs-80 {
        margin-bottom: 80px;
    }

    .margin-xs-90 {
        margin: 90px;
    }

    .margin-left-xs-90 {
        margin-left: 90px;
    }

    .margin-top-xs-90 {
        margin-top: 90px;
    }

    .margin-right-xs-90 {
        margin-right: 90px;
    }

    .margin-bottom-xs-90 {
        margin-bottom: 90px;
    }

    .margin-xs-100 {
        margin: 100px;
    }

    .margin-left-xs-100 {
        margin-left: 100px;
    }

    .margin-top-xs-100 {
        margin-top: 100px;
    }

    .margin-right-xs-100 {
        margin-right: 100px;
    }

    .margin-bottom-xs-100 {
        margin-bottom: 100px;
    }
}

@media (min-width: 768px) {
    .no-margin-sm {
        margin: 0;
    }

    .no-margin-sm-left {
        margin-left: 0;
    }

    .no-margin-sm-top {
        margin-top: 0;
    }

    .no-margin-sm-right {
        margin-right: 0;
    }

    .no-margin-sm-bottom {
        margin-bottom: 0;
    }

    .margin-sm-5 {
        margin: 5px;
    }

    .margin-left-sm-5 {
        margin-left: 5px;
    }

    .margin-top-sm-5 {
        margin-top: 5px;
    }

    .margin-right-sm-5 {
        margin-right: 5px;
    }

    .margin-bottom-sm-5 {
        margin-bottom: 5px;
    }

    .margin-sm-10 {
        margin: 10px;
    }

    .margin-left-sm-10 {
        margin-left: 10px;
    }

    .margin-top-sm-10 {
        margin-top: 10px;
    }

    .margin-right-sm-10 {
        margin-right: 10px;
    }

    .margin-bottom-sm-10 {
        margin-bottom: 10px;
    }

    .margin-sm-15 {
        margin: 15px;
    }

    .margin-left-sm-15 {
        margin-left: 15px;
    }

    .margin-top-sm-15 {
        margin-top: 15px;
    }

    .margin-right-sm-15 {
        margin-right: 15px;
    }

    .margin-bottom-sm-15 {
        margin-bottom: 15px;
    }

    .margin-sm-20 {
        margin: 20px;
    }

    .margin-left-sm-20 {
        margin-left: 20px;
    }

    .margin-top-sm-20 {
        margin-top: 20px;
    }

    .margin-right-sm-20 {
        margin-right: 20px;
    }

    .margin-bottom-sm-20 {
        margin-bottom: 20px;
    }

    .margin-sm-30 {
        margin: 30px;
    }

    .margin-left-sm-30 {
        margin-left: 30px;
    }

    .margin-top-sm-30 {
        margin-top: 30px;
    }

    .margin-right-sm-30 {
        margin-right: 30px;
    }

    .margin-bottom-sm-30 {
        margin-bottom: 30px;
    }

    .margin-sm-40 {
        margin: 40px;
    }

    .margin-left-sm-40 {
        margin-left: 40px;
    }

    .margin-top-sm-40 {
        margin-top: 40px;
    }

    .margin-right-sm-40 {
        margin-right: 40px;
    }

    .margin-bottom-sm-40 {
        margin-bottom: 40px;
    }

    .margin-sm-50 {
        margin: 50px;
    }

    .margin-left-sm-50 {
        margin-left: 50px;
    }

    .margin-top-sm-50 {
        margin-top: 50px;
    }

    .margin-right-sm-50 {
        margin-right: 50px;
    }

    .margin-bottom-sm-50 {
        margin-bottom: 50px;
    }

    .margin-sm-60 {
        margin: 60px;
    }

    .margin-left-sm-60 {
        margin-left: 60px;
    }

    .margin-top-sm-60 {
        margin-top: 60px;
    }

    .margin-right-sm-60 {
        margin-right: 60px;
    }

    .margin-bottom-sm-60 {
        margin-bottom: 60px;
    }

    .margin-sm-70 {
        margin: 70px;
    }

    .margin-left-sm-70 {
        margin-left: 70px;
    }

    .margin-top-sm-70 {
        margin-top: 70px;
    }

    .margin-right-sm-70 {
        margin-right: 70px;
    }

    .margin-bottom-sm-70 {
        margin-bottom: 70px;
    }

    .margin-sm-80 {
        margin: 80px;
    }

    .margin-left-sm-80 {
        margin-left: 80px;
    }

    .margin-top-sm-80 {
        margin-top: 80px;
    }

    .margin-right-sm-80 {
        margin-right: 80px;
    }

    .margin-bottom-sm-80 {
        margin-bottom: 80px;
    }

    .margin-sm-90 {
        margin: 90px;
    }

    .margin-left-sm-90 {
        margin-left: 90px;
    }

    .margin-top-sm-90 {
        margin-top: 90px;
    }

    .margin-right-sm-90 {
        margin-right: 90px;
    }

    .margin-bottom-sm-90 {
        margin-bottom: 90px;
    }

    .margin-sm-100 {
        margin: 100px;
    }

    .margin-left-sm-100 {
        margin-left: 100px;
    }

    .margin-top-sm-100 {
        margin-top: 100px;
    }

    .margin-right-sm-100 {
        margin-right: 100px;
    }

    .margin-bottom-sm-100 {
        margin-bottom: 100px;
    }

    .margin-sm-110 {
        margin: 110px;
    }

    .margin-left-sm-110 {
        margin-left: 110px;
    }

    .margin-top-sm-110 {
        margin-top: 110px;
    }

    .margin-right-sm-110 {
        margin-right: 110px;
    }

    .margin-bottom-sm-110 {
        margin-bottom: 110px;
    }
}

@media (min-width: 992px) {
    .no-margin-md {
        margin: 0;
    }

    .no-margin-md-left {
        margin-left: 0;
    }

    .no-margin-md-top {
        margin-top: 0;
    }

    .no-margin-md-right {
        margin-right: 0;
    }

    .no-margin-md-bottom {
        margin-bottom: 0;
    }

    .margin-md-5 {
        margin: 5px;
    }

    .margin-left-md-5 {
        margin-left: 5px;
    }

    .margin-top-md-5 {
        margin-top: 5px;
    }

    .margin-right-md-5 {
        margin-right: 5px;
    }

    .margin-bottom-md-5 {
        margin-bottom: 5px;
    }

    .margin-md-10 {
        margin: 10px;
    }

    .margin-left-md-10 {
        margin-left: 10px;
    }

    .margin-top-md-10 {
        margin-top: 10px;
    }

    .margin-right-md-10 {
        margin-right: 10px;
    }

    .margin-bottom-md-10 {
        margin-bottom: 10px;
    }

    .margin-md-15 {
        margin: 15px;
    }

    .margin-left-md-15 {
        margin-left: 15px;
    }

    .margin-top-md-15 {
        margin-top: 15px;
    }

    .margin-right-md-15 {
        margin-right: 15px;
    }

    .margin-bottom-md-15 {
        margin-bottom: 15px;
    }

    .margin-md-20 {
        margin: 20px;
    }

    .margin-left-md-20 {
        margin-left: 20px;
    }

    .margin-top-md-20 {
        margin-top: 20px;
    }

    .margin-right-md-20 {
        margin-right: 20px;
    }

    .margin-bottom-md-20 {
        margin-bottom: 20px;
    }

    .margin-md-30 {
        margin: 30px;
    }

    .margin-left-md-30 {
        margin-left: 30px;
    }

    .margin-top-md-30 {
        margin-top: 30px;
    }

    .margin-right-md-30 {
        margin-right: 30px;
    }

    .margin-bottom-md-30 {
        margin-bottom: 30px;
    }

    .margin-md-40 {
        margin: 40px;
    }

    .margin-left-md-40 {
        margin-left: 40px;
    }

    .margin-top-md-40 {
        margin-top: 40px;
    }

    .margin-right-md-40 {
        margin-right: 40px;
    }

    .margin-bottom-md-40 {
        margin-bottom: 40px;
    }

    .margin-md-50 {
        margin: 50px;
    }

    .margin-left-md-50 {
        margin-left: 50px;
    }

    .margin-top-md-50 {
        margin-top: 50px;
    }

    .margin-right-md-50 {
        margin-right: 50px;
    }

    .margin-bottom-md-50 {
        margin-bottom: 50px;
    }

    .margin-md-60 {
        margin: 60px;
    }

    .margin-left-md-60 {
        margin-left: 60px;
    }

    .margin-top-md-60 {
        margin-top: 60px;
    }

    .margin-right-md-60 {
        margin-right: 60px;
    }

    .margin-bottom-md-60 {
        margin-bottom: 60px;
    }

    .margin-md-60 {
        margin: 60px;
    }

    .margin-left-md-60 {
        margin-left: 60px;
    }

    .margin-top-md-60 {
        margin-top: 60px;
    }

    .margin-right-md-60 {
        margin-right: 60px;
    }

    .margin-bottom-md-60 {
        margin-bottom: 60px;
    }

    .margin-md-80 {
        margin: 80px;
    }

    .margin-left-md-80 {
        margin-left: 80px;
    }

    .margin-top-md-80 {
        margin-top: 80px;
    }

    .margin-right-md-80 {
        margin-right: 80px;
    }

    .margin-bottom-md-80 {
        margin-bottom: 80px;
    }

    .margin-md-90 {
        margin: 90px;
    }

    .margin-left-md-90 {
        margin-left: 90px;
    }

    .margin-top-md-90 {
        margin-top: 90px;
    }

    .margin-right-md-90 {
        margin-right: 90px;
    }

    .margin-bottom-md-90 {
        margin-bottom: 90px;
    }

    .margin-md-100 {
        margin: 100px;
    }

    .margin-left-md-100 {
        margin-left: 100px;
    }

    .margin-top-md-100 {
        margin-top: 100px;
    }

    .margin-right-md-100 {
        margin-right: 100px;
    }

    .margin-bottom-md-100 {
        margin-bottom: 100px;
    }
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.padding-5 {
    padding: 5px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-30 {
    padding: 30px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-40 {
    padding: 40px;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-right-40 {
    padding-right: 40px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-50 {
    padding: 50px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-60 {
    padding: 60px;
}

.padding-left-60 {
    padding-left: 60px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-right-60 {
    padding-right: 60px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-70 {
    padding: 70px;
}

.padding-left-70 {
    padding-left: 70px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-right-70 {
    padding-right: 70px;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.padding-80 {
    padding: 80px;
}

.padding-left-80 {
    padding-left: 80px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-right-80 {
    padding-right: 80px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-90 {
    padding: 90px;
}

.padding-left-90 {
    padding-left: 90px;
}

.padding-top-90 {
    padding-top: 90px;
}

.padding-right-90 {
    padding-right: 90px;
}

.padding-bottom-90 {
    padding-bottom: 90px;
}

.padding-100 {
    padding: 100px;
}

.padding-left-100 {
    padding-left: 100px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-right-100 {
    padding-right: 100px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

@media (max-width: 767px) {
    .no-padding-xs {
        padding: 0;
    }

    .no-padding-xs-left {
        padding-left: 0;
    }

    .no-padding-xs-top {
        padding-top: 0;
    }

    .no-padding-xs-right {
        padding-right: 0;
    }

    .no-padding-xs-bottom {
        padding-bottom: 0;
    }

    .padding-xs-5 {
        padding: 5px;
    }

    .padding-left-xs-5 {
        padding-left: 5px;
    }

    .padding-top-xs-5 {
        padding-top: 5px;
    }

    .padding-right-xs-5 {
        padding-right: 5px;
    }

    .padding-bottom-xs-5 {
        padding-bottom: 5px;
    }

    .padding-xs-10 {
        padding: 10px;
    }

    .padding-left-xs-10 {
        padding-left: 10px;
    }

    .padding-top-xs-10 {
        padding-top: 10px;
    }

    .padding-right-xs-10 {
        padding-right: 10px;
    }

    .padding-bottom-xs-10 {
        padding-bottom: 10px;
    }

    .padding-xs-15 {
        padding: 15px;
    }

    .padding-left-xs-15 {
        padding-left: 15px;
    }

    .padding-top-xs-15 {
        padding-top: 15px;
    }

    .padding-right-xs-15 {
        padding-right: 15px;
    }

    .padding-bottom-xs-15 {
        padding-bottom: 15px;
    }

    .padding-xs-20 {
        padding: 20px;
    }

    .padding-left-xs-20 {
        padding-left: 20px;
    }

    .padding-top-xs-20 {
        padding-top: 20px;
    }

    .padding-right-xs-20 {
        padding-right: 20px;
    }

    .padding-bottom-xs-20 {
        padding-bottom: 20px;
    }

    .padding-xs-30 {
        padding: 30px;
    }

    .padding-left-xs-30 {
        padding-left: 30px;
    }

    .padding-top-xs-30 {
        padding-top: 30px;
    }

    .padding-right-xs-30 {
        padding-right: 30px;
    }

    .padding-bottom-xs-30 {
        padding-bottom: 30px;
    }

    .padding-xs-40 {
        padding: 40px;
    }

    .padding-left-xs-40 {
        padding-left: 40px;
    }

    .padding-top-xs-40 {
        padding-top: 40px;
    }

    .padding-right-xs-40 {
        padding-right: 40px;
    }

    .padding-bottom-xs-40 {
        padding-bottom: 40px;
    }

    .padding-xs-50 {
        padding: 50px;
    }

    .padding-left-xs-50 {
        padding-left: 50px;
    }

    .padding-top-xs-50 {
        padding-top: 50px;
    }

    .padding-right-xs-50 {
        padding-right: 50px;
    }

    .padding-bottom-xs-50 {
        padding-bottom: 50px;
    }

    .padding-xs-60 {
        padding: 60px;
    }

    .padding-left-xs-60 {
        padding-left: 60px;
    }

    .padding-top-xs-60 {
        padding-top: 60px;
    }

    .padding-right-xs-60 {
        padding-right: 60px;
    }

    .padding-bottom-xs-60 {
        padding-bottom: 60px;
    }

    .padding-xs-70 {
        padding: 70px;
    }

    .padding-left-xs-70 {
        padding-left: 70px;
    }

    .padding-top-xs-70 {
        padding-top: 70px;
    }

    .padding-right-xs-70 {
        padding-right: 70px;
    }

    .padding-bottom-xs-70 {
        padding-bottom: 70px;
    }

    .padding-xs-80 {
        padding: 80px;
    }

    .padding-left-xs-80 {
        padding-left: 80px;
    }

    .padding-top-xs-80 {
        padding-top: 80px;
    }

    .padding-right-xs-80 {
        padding-right: 80px;
    }

    .padding-bottom-xs-80 {
        padding-bottom: 80px;
    }

    .padding-xs-90 {
        padding: 90px;
    }

    .padding-left-xs-90 {
        padding-left: 90px;
    }

    .padding-top-xs-90 {
        padding-top: 90px;
    }

    .padding-right-xs-90 {
        padding-right: 90px;
    }

    .padding-bottom-xs-90 {
        padding-bottom: 90px;
    }

    .padding-xs-100 {
        padding: 100px;
    }

    .padding-left-xs-100 {
        padding-left: 100px;
    }

    .padding-top-xs-100 {
        padding-top: 100px;
    }

    .padding-right-xs-100 {
        padding-right: 100px;
    }

    .padding-bottom-xs-100 {
        padding-bottom: 100px;
    }
}

@media (min-width: 768px) {
    .no-padding-sm {
        padding: 0;
    }

    .no-padding-sm-left {
        padding-left: 0;
    }

    .no-padding-sm-top {
        padding-top: 0;
    }

    .no-padding-sm-right {
        padding-right: 0;
    }

    .no-padding-sm-bottom {
        padding-bottom: 0;
    }

    .padding-sm-5 {
        padding: 5px;
    }

    .padding-left-sm-5 {
        padding-left: 5px;
    }

    .padding-top-sm-5 {
        padding-top: 5px;
    }

    .padding-right-sm-5 {
        padding-right: 5px;
    }

    .padding-bottom-sm-5 {
        padding-bottom: 5px;
    }

    .padding-sm-10 {
        padding: 10px;
    }

    .padding-left-sm-10 {
        padding-left: 10px;
    }

    .padding-top-sm-10 {
        padding-top: 10px;
    }

    .padding-right-sm-10 {
        padding-right: 10px;
    }

    .padding-bottom-sm-10 {
        padding-bottom: 10px;
    }

    .padding-sm-15 {
        padding: 15px;
    }

    .padding-left-sm-15 {
        padding-left: 15px;
    }

    .padding-top-sm-15 {
        padding-top: 15px;
    }

    .padding-right-sm-15 {
        padding-right: 15px;
    }

    .padding-bottom-sm-15 {
        padding-bottom: 15px;
    }

    .padding-sm-20 {
        padding: 20px;
    }

    .padding-left-sm-20 {
        padding-left: 20px;
    }

    .padding-top-sm-20 {
        padding-top: 20px;
    }

    .padding-right-sm-20 {
        padding-right: 20px;
    }

    .padding-bottom-sm-20 {
        padding-bottom: 20px;
    }

    .padding-sm-30 {
        padding: 30px;
    }

    .padding-left-sm-30 {
        padding-left: 30px;
    }

    .padding-top-sm-30 {
        padding-top: 30px;
    }

    .padding-right-sm-30 {
        padding-right: 30px;
    }

    .padding-bottom-sm-30 {
        padding-bottom: 30px;
    }

    .padding-sm-40 {
        padding: 40px;
    }

    .padding-left-sm-40 {
        padding-left: 40px;
    }

    .padding-top-sm-40 {
        padding-top: 40px;
    }

    .padding-right-sm-40 {
        padding-right: 40px;
    }

    .padding-bottom-sm-40 {
        padding-bottom: 40px;
    }

    .padding-sm-50 {
        padding: 50px;
    }

    .padding-left-sm-50 {
        padding-left: 50px;
    }

    .padding-top-sm-50 {
        padding-top: 50px;
    }

    .padding-right-sm-50 {
        padding-right: 50px;
    }

    .padding-bottom-sm-50 {
        padding-bottom: 50px;
    }

    .padding-sm-60 {
        padding: 60px;
    }

    .padding-left-sm-60 {
        padding-left: 60px;
    }

    .padding-top-sm-60 {
        padding-top: 60px;
    }

    .padding-right-sm-60 {
        padding-right: 60px;
    }

    .padding-bottom-sm-60 {
        padding-bottom: 60px;
    }

    .padding-sm-70 {
        padding: 70px;
    }

    .padding-left-sm-70 {
        padding-left: 70px;
    }

    .padding-top-sm-70 {
        padding-top: 70px;
    }

    .padding-right-sm-70 {
        padding-right: 70px;
    }

    .padding-bottom-sm-70 {
        padding-bottom: 70px;
    }

    .padding-sm-80 {
        padding: 80px;
    }

    .padding-left-sm-80 {
        padding-left: 80px;
    }

    .padding-top-sm-80 {
        padding-top: 80px;
    }

    .padding-right-sm-80 {
        padding-right: 80px;
    }

    .padding-bottom-sm-80 {
        padding-bottom: 80px;
    }

    .padding-sm-90 {
        padding: 90px;
    }

    .padding-left-sm-90 {
        padding-left: 90px;
    }

    .padding-top-sm-90 {
        padding-top: 90px;
    }

    .padding-right-sm-90 {
        padding-right: 90px;
    }

    .padding-bottom-sm-90 {
        padding-bottom: 90px;
    }

    .padding-sm-100 {
        padding: 100px;
    }

    .padding-left-sm-100 {
        padding-left: 100px;
    }

    .padding-top-sm-100 {
        padding-top: 100px;
    }

    .padding-right-sm-100 {
        padding-right: 100px;
    }

    .padding-bottom-sm-100 {
        padding-bottom: 100px;
    }

    .padding-sm-150 {
        padding: 150px;
    }

    .padding-left-sm-150 {
        padding-left: 150px;
    }

    .padding-top-sm-150 {
        padding-top: 150px;
    }

    .padding-right-sm-150 {
        padding-right: 150px;
    }

    .padding-bottom-sm-150 {
        padding-bottom: 150px;
    }
}

@media (min-width: 992px) {
    .no-padding-md {
        padding: 0;
    }

    .no-padding-md-left {
        padding-left: 0;
    }

    .no-padding-md-top {
        padding-top: 0;
    }

    .no-padding-md-right {
        padding-right: 0;
    }

    .no-padding-md-bottom {
        padding-bottom: 0;
    }

    .padding-md-5 {
        padding: 5px;
    }

    .padding-left-md-5 {
        padding-left: 5px;
    }

    .padding-top-md-5 {
        padding-top: 5px;
    }

    .padding-right-md-5 {
        padding-right: 5px;
    }

    .padding-bottom-md-5 {
        padding-bottom: 5px;
    }

    .padding-md-10 {
        padding: 10px;
    }

    .padding-left-md-10 {
        padding-left: 10px;
    }

    .padding-top-md-10 {
        padding-top: 10px;
    }

    .padding-right-md-10 {
        padding-right: 10px;
    }

    .padding-bottom-md-10 {
        padding-bottom: 10px;
    }

    .padding-md-15 {
        padding: 15px;
    }

    .padding-left-md-15 {
        padding-left: 15px;
    }

    .padding-top-md-15 {
        padding-top: 15px;
    }

    .padding-right-md-15 {
        padding-right: 15px;
    }

    .padding-bottom-md-15 {
        padding-bottom: 15px;
    }

    .padding-md-20 {
        padding: 20px;
    }

    .padding-left-md-20 {
        padding-left: 20px;
    }

    .padding-top-md-20 {
        padding-top: 20px;
    }

    .padding-right-md-20 {
        padding-right: 20px;
    }

    .padding-bottom-md-20 {
        padding-bottom: 20px;
    }

    .padding-md-30 {
        padding: 30px;
    }

    .padding-left-md-30 {
        padding-left: 30px;
    }

    .padding-top-md-30 {
        padding-top: 30px;
    }

    .padding-right-md-30 {
        padding-right: 30px;
    }

    .padding-bottom-md-30 {
        padding-bottom: 30px;
    }

    .padding-md-40 {
        padding: 40px;
    }

    .padding-left-md-40 {
        padding-left: 40px;
    }

    .padding-top-md-40 {
        padding-top: 40px;
    }

    .padding-right-md-40 {
        padding-right: 40px;
    }

    .padding-bottom-md-40 {
        padding-bottom: 40px;
    }

    .padding-md-50 {
        padding: 50px;
    }

    .padding-left-md-50 {
        padding-left: 50px;
    }

    .padding-top-md-50 {
        padding-top: 50px;
    }

    .padding-right-md-50 {
        padding-right: 50px;
    }

    .padding-bottom-md-50 {
        padding-bottom: 50px;
    }

    .padding-md-60 {
        padding: 60px;
    }

    .padding-left-md-60 {
        padding-left: 60px;
    }

    .padding-top-md-60 {
        padding-top: 60px;
    }

    .padding-right-md-60 {
        padding-right: 60px;
    }

    .padding-bottom-md-60 {
        padding-bottom: 60px;
    }

    .padding-md-70 {
        padding: 70px;
    }

    .padding-left-md-70 {
        padding-left: 70px;
    }

    .padding-top-md-70 {
        padding-top: 70px;
    }

    .padding-right-md-70 {
        padding-right: 70px;
    }

    .padding-bottom-md-70 {
        padding-bottom: 70px;
    }

    .padding-md-80 {
        padding: 80px;
    }

    .padding-left-md-80 {
        padding-left: 80px;
    }

    .padding-top-md-80 {
        padding-top: 80px;
    }

    .padding-right-md-80 {
        padding-right: 80px;
    }

    .padding-bottom-md-80 {
        padding-bottom: 80px;
    }

    .padding-md-90 {
        padding: 90px;
    }

    .padding-left-md-90 {
        padding-left: 90px;
    }

    .padding-top-md-90 {
        padding-top: 90px;
    }

    .padding-right-md-90 {
        padding-right: 90px;
    }

    .padding-bottom-md-90 {
        padding-bottom: 90px;
    }

    .padding-md-100 {
        padding: 100px;
    }

    .padding-left-md-100 {
        padding-left: 100px;
    }

    .padding-top-md-100 {
        padding-top: 100px;
    }

    .padding-right-md-100 {
        padding-right: 100px;
    }

    .padding-bottom-md-100 {
        padding-bottom: 100px;
    }
}

/*
  ========================================
  Animation & Transition Delay Classes
  ========================================
*/
.delay0-05s {
    -webkit-animation-delay: .05s;
    animation-delay: .05s;
    -webkit-transition-delay: .05s;
    transition-delay: .05s;
}

.delay0-1s {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

.delay0-2s {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.delay0-15s {
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
}

.delay0-3s {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.delay0-4s {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.delay0-5s {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.delay0-6s {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}

.delay0-7s {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

.delay0-8s {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
}

.delay0-9s {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
}

.delay1-0s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

.delay1-1s {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

.delay1-2s {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
}

.delay1-3s {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-transition-delay: 1.3s;
    transition-delay: 1.3s;
}

.delay1-4s {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s;
}

.delay1-5s {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
}

.delay1-6s {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
    -webkit-transition-delay: 1.6s;
    transition-delay: 1.6s;
}

.delay1-7s {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
    -webkit-transition-delay: 1.7s;
    transition-delay: 1.7s;
}

.delay1-8s {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    -webkit-transition-delay: 1.8s;
    transition-delay: 1.8s;
}

.delay1-9s {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
    -webkit-transition-delay: 1.9s;
    transition-delay: 1.9s;
}

.delay2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
}

.delay2-5s {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-transition-delay: 2.5s;
    transition-delay: 2.5s;
}

.delay3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-transition-delay: 3s;
    transition-delay: 3s;
}

.delay3-5s {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    -webkit-transition-delay: 3.5s;
    transition-delay: 3.5s;
}

.delay4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-transition-delay: 4s;
    transition-delay: 4s;
}

.delay4-5s {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
    -webkit-transition-delay: 4.5s;
    transition-delay: 4.5s;
}

.delay5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-transition-delay: 5s;
    transition-delay: 5s;
}

.delay5-5s {
    -webkit-animation-delay: 5.5s;
    animation-delay: 5.5s;
    -webkit-transition-delay: 5.5s;
    transition-delay: 5.5s;
}

.delay6s {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-transition-delay: 6s;
    transition-delay: 6s;
}

.delay6-5s {
    -webkit-animation-delay: 6.5s;
    animation-delay: 6.5s;
    -webkit-transition-delay: 6.5s;
    transition-delay: 6.5s;
}

.slide-out {
    -webkit-animation-delay: 0s !important;
    animation-delay: 0s !important;
}

.font-second {
    text-transform: capitalize;
}

.position-relative {
    position: relative;
}

.position-fixed {
    position: fixed;
}

.inline-block {
    display: inline-block !important;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.full-screen {
    height: 100vh;
    width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .full-screen {
        height: 1024px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .full-screen {
        height: 768px;
    }
}

@media only screen and (device-aspect-ratio: 40/71) and (orientation: portrait) {
    .full-screen {
        height: 568px;
    }
}

@media only screen and (device-aspect-ratio: 40/71) and (orientation: landscape) {
    .full-screen {
        height: 320px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (device-aspect-ratio: 2/3) and (orientation: portrait) {
    .full-screen {
        height: 480px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (device-aspect-ratio: 2/3) and (orientation: landscape) {
    .full-screen {
        height: 320px;
    }
}

.half-height {
    height: 78vh !important;
    width: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .half-height {
        height: 799px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .half-height {
        height: 600px;
    }
}

@media only screen and (device-aspect-ratio: 40/71) and (orientation: portrait) {
    .half-height {
        height: 444px;
    }
}

@media only screen and (device-aspect-ratio: 40/71) and (orientation: landscape) {
    .half-height {
        height: 250px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (device-aspect-ratio: 2/3) and (orientation: portrait) {
    .half-height {
        height: 374px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (device-aspect-ratio: 2/3) and (orientation: landscape) {
    .half-height {
        height: 250px;
    }
}