@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-85cqw9');
	src:url('fonts/icomoon.eot?#iefix-85cqw9') format('embedded-opentype'),
		url('fonts/icomoon.woff?-85cqw9') format('woff'),
		url('fonts/icomoon.ttf?-85cqw9') format('truetype'),
		url('fonts/icomoon.svg?-85cqw9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-contract:before {
	content: "\e60e";
}
.icon-approval:before {
	content: "\e60a";
}
.icon-case:before {
	content: "\e60b";
}
.icon-check:before {
	content: "\e60c";
}
.icon-comments:before {
	content: "\e60d";
}
.icon-payment:before {
	content: "\e60f";
}
.icon-perfect:before {
	content: "\e610";
}
.icon-prepay:before {
	content: "\e611";
}
.icon-presentation:before {
	content: "\e612";
}
.icon-presentation2:before {
	content: "\e613";
}
.icon-presentation3:before {
	content: "\e614";
}
.icon-rework:before {
	content: "\e615";
}
.icon-start:before {
	content: "\e616";
}
.icon-support:before {
	content: "\e617";
}
.icon-tasks:before {
	content: "\e618";
}
.icon-commercial:before {
	content: "\e607";
}
.icon-exhibition:before {
	content: "\e608";
}
.icon-sales:before {
	content: "\e609";
}
.icon-canvas:before {
	content: "\e606";
}
.icon-manager:before {
	content: "\e601";
}
.icon-pencil:before {
	content: "\e602";
}
.icon-settings:before {
	content: "\e603";
}
.icon-workman:before {
	content: "\e604";
}
.icon-arrow_left:before {
	content: "\e605";
}
.icon-arrow_right:before {
	content: "\e600";
}
