h1, .h1, h2, .h2, h3, .h3, p { padding: 0; margin: 0; }
ul { list-style-type: none; margin: 0; padding: 0; }
input:focus, button:focus { outline: none !important; }

a:hover, a:visited, a:active, a:focus { text-decoration: none !important; }
.button-animate { margin-left: 5px; }

.center {
    margin: 0 auto;
    max-width: 940px;
    overflow: hidden;
}

header a, input.call,
.landing-page h1, .details,
.tech, p.title, .devices a, .blog a {
    text-transform: uppercase;
}

.carousel { position: static; }
.carousel-control.left, .carousel-control.right { background: none; }

.section { position: relative; }
.carousel-indicators li { border: 1px solid #000; }

p.title {
    font-size: 22px;
    text-align: center;
}

.carousel-control {
    width: 8%;
}
@media (max-width: 1170px) {
    #landingPageCarousel .item {
        padding-left: 12%;
        padding-right: 12%;
    }

    #landingPageCarousel .carousel-indicators {
        text-align: center;
    }
    #landingPageCarousel .carousel-indicators li {
        float: none;
    }
}

.carousel-indicators.remove-indicators {
    width: auto;
    position: static;
    text-align: left;
}

.carousel-indicators.remove-indicators li {
    text-indent: 0px;
    height: auto;
    border: none;
    margin-top: 0;
    margin-left: 0;
}
.carousel-indicators.remove-indicators .active { background: none; }

/******************** LANDING PAGE ********************/
.landing-page {
    width: 100%;
    background: url("../images/landing_page.png");
    background-size: cover;
}

.landing-page header { padding: 40px 0 0 0; }

.landing-page .carousel-control {
    top: 100px;
    margin-bottom: 100px;
}

.landing-page .icon-arrow_left, .landing-page .icon-arrow_right,
.section-four .icon-arrow_left, .section-four .icon-arrow_right,
.section-five .icon-arrow_left, .section-five .icon-arrow_right,
.section-six .icon-arrow_left, .section-six .icon-arrow_right {
    text-shadow: none;
}

.section-four .icon-arrow_left, .section-four .icon-arrow_right,
.section-five .icon-arrow_left, .section-five .icon-arrow_right,
.section-six .icon-arrow_left, .section-six .icon-arrow_right {
    color: #1FB4CA;
}

/* Header */
.navbar-toggle .icon-bar { background-color: #fff; }

@media (min-width: 768px) and (max-width: 992px) { .navbar-right { display: none; }}
@media (max-width: 768px) {
    .landing-page header { padding: 0; }
    .nav > li:hover { background-color: rgba(255, 255, 255, 0.18); }
}


header { width: 100%; }
header .center { height: 100%; }

.logo { display: inline-block; }

header ul.navbar-nav { text-align: center; }

header a {
    color: #fff;
    font-size: 13px;
}

header a:hover, footer a:hover,
header a:active, footer a:active,
header a:visited, footer a:visited,
header a:focus, footer a:focus
{ color: #fff; }

header ul a:hover, header ul a:focus { color: #fff; }
.nav > li > a:hover, .nav > li > a:focus { background: none; }
.navbar-brand, .navbar-nav > li > a { text-shadow: none; }




.phone { color: #fff; }
.call {
    width: 120px;
    height: 28px;
    border-radius: 3px;
    background: none;
    font-size: 10px;
}

.landing-page .call {
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    top: -5px;
}
/* Header end */

.landing-page h1 {
    margin-top: 140px;
    color: #1EB4CC;
    font-weight: bold;
    font-size: 40px;
}

.landing-page h2 {
    margin-top: 38px;
    color: #D8D7DD;
    font-size: 25px;
    line-height: 38px;
}

.details {
    width: 120px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 11px;
    margin-top: 36px;
    background: #19b8cb; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #19b8cb 0%, #7261cb 50%, #b615c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#19b8cb), color-stop(50%,#7261cb), color-stop(100%,#b615c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #19b8cb 0%,#7261cb 50%,#b615c1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #19b8cb 0%,#7261cb 50%,#b615c1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #19b8cb 0%,#7261cb 50%,#b615c1 100%); /* IE10+ */
    background: linear-gradient(135deg,  #19b8cb 0%,#7261cb 50%,#b615c1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19b8cb', endColorstr='#b615c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.details:hover {
    background: #17b0c1; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #17b0c1 0%, #6d5cc1 50%, #b615c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#17b0c1), color-stop(50%,#6d5cc1), color-stop(100%,#b615c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #17b0c1 0%,#6d5cc1 50%,#b615c1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #17b0c1 0%,#6d5cc1 50%,#b615c1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #17b0c1 0%,#6d5cc1 50%,#b615c1 100%); /* IE10+ */
    background: linear-gradient(135deg,  #17b0c1 0%,#6d5cc1 50%,#b615c1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17b0c1', endColorstr='#b615c1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tech {
    margin-top: 95px;
    padding-bottom: 50px;
}

.tech li {
    display: inline-block;
    float: left;
}
.tech li, .tech li.active {
    width: auto;
    margin-right: 30px;
}

.tech a {
    font-size: 12px;
    color: #AFAFB9;
    font-family: 'Arial';
    text-transform: uppercase;
}
.tech a:hover { color: #fff; }

.tech .icon-arrow_right:before {
    display: block;
    font-size: 17px;
    visibility: hidden;
    color: #BB1FCB;
    padding-bottom: 5px;
}
.tech .active.icon-arrow_right:before { visibility: visible; }

@media (max-width: 768px) { .landing-page h1 { margin-top: 60px; }}



/******************** LANDING PAGE END********************/



/******************** Section 1 ********************/
.section-one-wrap {
    background-color: #E9E9E9;
}

.section-one {
    padding: 85px 0;
    color: #141414;
    font-size: 21px;
    line-height: 38px;
}
.section-one a { color: #1FB4CA; }
/******************** Section 1 END ********************/


/******************** Section 2 ********************/
.section-two-wrap {
    background-color: #fff;
    color: #141414;
}
.section-two { padding-bottom: 140px; }

.section-two p.title { padding: 55px 0 17px 0; }

.scheme {
    display: inline-block;
    height: 22px;
    border: 2px solid #E8E8E8;
}

.scheme:nth-of-type(1) {
    width: 360px;
    margin-left: 230px;
    border-bottom: none;
    border-right: none;
}

.scheme:nth-of-type(2) {
    width: 240px;
    margin-left: -4px;
    border-bottom: none;
}

.department, .department > div {
    display: inline-block;
    text-align: left;
}

.department > div:nth-of-type(1) {
    width: 100%;
    height: 72px;
}
.department > div:nth-of-type(2) {
    position: relative;
    width: 100%;
    height: 207px;
    border: 1px solid #D0D0D0;
}

.client, .technical, .content { height: 280px; }
.client, .technical { margin-right: 15px; }

.client { width: 460px; }
.technical { width: 220px; }
.content { width: 220px; }

.department > div:nth-of-type(1) p {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 2px;
}

/*client*/
.managers {
    position: absolute;
    text-align: center;
    left: 78px;
}
.client p {
    font-size: 12px;
    font-weight: 600;
}

.icon-manager:before {
    color: #333333;
    font-size: 19px;
    margin-left: -6px;
}
.managers .icon-manager:before { color: #333333; }

.managers:nth-of-type(1) { top: 30px; }
.managers:nth-of-type(2) { top: 115px; }

.personal-manager {
    position: absolute;
    right: 80px;
    top: 60px;
    text-align: center;
}
.personal-manager .icon-manager:before { color: #1EB5C6; }
.personal-manager p:nth-of-type(1) { padding-top: 3px; }
.personal-manager p:nth-of-type(2) {
    color: #1EB5C6;
    font-size: 23px;
    font-weight: normal;
}

/*technical, content*/
.technical span, .content span {
    top: -28px;
    position: absolute;
    background: #fff;
    padding: 0 8px;
    font-weight: 600;
    font-family: 'Arial';

}
.technical span { left: 11%; }
.content span { left: 25%; }

.icon-settings:before, .icon-pencil:before {
    display: block;
    font-family: 'icomoon';
    color: #1EB5CA;
    text-align: center;
    padding-bottom: 3px;
    font-weight: normal;
}
.icon-settings:before { font-size: 18px; }
.icon-pencil:before { font-size: 16px; }

.technical ul { padding: 37px 28px; }
.content ul { padding: 27px 28px; }

.technical ul, .content ul { position: absolute; }

.technical li, .content li {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Arial';
    padding-bottom: 4px;
}

.icon-workman:before {
    font-family: 'icomoon';
    color: #B2B2B2;
    font-size: 15px;
    padding-right: 10px;
    font-weight: normal;
}

.content li:last-child {
    position: absolute;
    left: 0;
    top: 220px;
}

@media (max-width: 954px){
    .scheme { display: none; }
    .section-two { text-align: center; }
    .department { margin-top: 22px; }
}

@media (max-width: 768px){
    .department {
        display: block;
        margin: 22px auto 0 auto;
    }
    .section-two { padding-bottom: 110px; }
    .managers, .personal-manager {
        position: static;
        padding-top: 30px;
    }
    .personal-manager { padding-bottom: 30px; }
    .client { width: 300px; }
    .client, .technical, .content, .client > div:nth-of-type(2) { height: auto; }
}

/******************** Section 2 END********************/

/******************** Section 3 ********************/
.section-three-wrap p.title {
    position: relative;
    z-index: 1000;
    margin: 0 auto;
    padding: 50px 0 55px 0;
    color: #fff;
}

#devicesCarousel { position: relative; }

#devicesCarousel .carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#devicesCarousel .item { height: 100%; }

#devicesCarousel .item > div {
    width: auto;
    height: 100%;
    background-size: cover !important;
}

.devices {
    display: table;
    text-align: center;
    padding-bottom: 80px;
}

.devices.carousel-indicators {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.devices.carousel-indicators .active {
    border: 6px solid #fff;
    background: none;
}

.devices li, .devices.carousel-indicators .active {
    display: inline-block;
    width: 300px;
    height: 130px;
    margin: 0 20px 20px 0;
    text-align: center;
    border-radius: 0;
    text-indent: 0;
}

.devices li {
    border: 6px solid #1FB4CA;
    border-radius: 0;
}

.devices li a {
    display: table-cell;
    vertical-align: middle;
    width: 288px;
    height: 118px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

#devicesCarousel .item:nth-of-type(1) > div { background: url("../images/section-three_1.png") }
#devicesCarousel .item:nth-of-type(2) > div { background: url("../images/section-three_2.png") }
#devicesCarousel .item:nth-of-type(3) > div { background: url("../images/section-three_3.png") }
#devicesCarousel .item:nth-of-type(4) > div { background: url("../images/section-three_4.png") }
#devicesCarousel .item:nth-of-type(5) > div { background: url("../images/section-three_5.png") }
#devicesCarousel .item:nth-of-type(6) > div { background: url("../images/section-three_6.png") }

@media (min-width: 956px){
    .devices.carousel-indicators li:nth-child(3n)
    { margin-right: 0px; }
}

@media (max-width: 956px){
    .devices li:nth-child(3n) { margin-right: 20px; }
    #devicesCarousel .devices li:nth-child(2n) { margin-right: 0; }
}

@media (max-width: 700px) {
    #devicesCarousel .devices li {
        display: block;
        margin: 0 auto 20px auto;
    }
    #devicesCarousel .devices li:nth-child(2n) { margin: 0 auto 20px auto; }
}
/******************** Section 3 END********************/

/******************** Section 4 ********************/
.section-four-wrap {
    background-color: #fff;
}

.small-title {
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #404040;
    padding: 65px 0 35px 0;
}

.round {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1FB4CA;
    color: #fff;
    margin: 0 auto;
}
.icon-commercial:before,
.icon-exhibition:before,
.icon-sales:before, .icon-canvas:before { position: absolute; }

.icon-commercial:before {
    font-size: 15px;
    left: 12px;
    top: 12px;
}

.icon-exhibition:before {
    font-size: 26px;
    left: 7px;
    top: 6px;
    font-weight: bold;
}

.icon-sales:before {
    font-size: 19px;
    left: 8px;
    top: 10px;
}

.icon-canvas:before {
    font-size: 23px;
    left: 11px;
    top: 8px;
}

.section-four-wrap .title {
    height: 110px;
    color: #1FB4CA;
    padding: 15px 0 10px 0;
}

.spheres { display: inline-block; }

.spheres li {
    float: left;
    display: inline-block;
    padding-bottom: 25px;
    text-align: left;
}

.spheres li:nth-of-type(1),
.spheres li:nth-of-type(2),
.spheres li:nth-of-type(3) { margin-right: 42px; }

.spheres li:before {
    content: '\2013';
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #1FB4CA;
}

.section-four .carousel-indicators {
    position: static;
    width: auto;
    margin: 0 auto;
    padding: 20px 0 50px 0;
}

.section-four button {
    float: none;
    height: 28px;
    font-size: 11px;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #D0D0D0;
    color: #898989;
    text-transform: uppercase;
    padding: 6px 14px;
}

.section-four button.active {
    height: 28px;
    color: #141414;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}

#spheresCarousel .btn-group > .btn,
#spheresCarousel .btn-group-vertical > .btn {
    float: none;
    margin: 0 0 -1px -5px;
}

@media (max-width: 1170px) {
    .section-four .item {
        padding-left: 12%;
        padding-right: 12%;
    }
    .section-four .spheres li {
        display: block;
        float: none;
        margin: 0;
    }
}

.section-four button:nth-of-type(1) { width: 114px; }
.section-four button:nth-of-type(2) { width: 95px; }
.section-four button:nth-of-type(3) { width: 267px; }
.section-four button:nth-of-type(4) { width: 347px; }
/******************** Section 4 END********************/

/******************** Section 5 ********************/
.section-five-wrap {
    background-color: #E6E6E6;
}

.section-five p.title {
    padding: 55px 0 50px 0;
    color: #141414;
}

.project-wrap {
    display: inline-block;
    overflow: hidden;
    border: 6px solid #1EB5CA;
}

.projects-text {
    float: left;
    padding: 35px;
    text-align: left;
}

.projects-text > p {
    font-size: 22px;
    padding-bottom: 20px;
    color: #141414;
}

.projects-text li {
    display: inline-block;
    vertical-align: top;
}

.projects-text li:nth-of-type(1),
.projects-text li:nth-of-type(2){ margin-right: 35px; }

.projects-text li p:nth-of-type(1) {
    font-size: 29px;
    font-weight: bold;
    color: #1EB5CA;
}

.projects-text li p:nth-of-type(2):before {
    content: '\2013';
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.projects-image {
    float: right;
}

#projectsCarousel .carousel-indicators {
    width: 100%;
    position: static;
    margin: 55px 0 0 0;
    padding-bottom: 45px;
}

#projectsCarousel .carousel-indicators li {
    position: relative;
    background: url('../images/sprite.png') no-repeat;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.8;
    border: none;
    margin: 0 20px 65px 0;
    border-radius: 0;
}
#projectsCarousel .carousel-indicators li.active {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}

#projectsCarousel li.active:before {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1FB4CA;
}

#projectsCarousel .carousel-indicators li:nth-of-type(1) {
    background-position: 0px 0px;
    width: 72px;
    height: 54px;
}
#projectsCarousel .carousel-indicators li:nth-of-type(2) {
    background-position: -74px 3px;
    width: 60px;
    height: 72px;
}
#projectsCarousel .carousel-indicators li:nth-of-type(3) {
    background-position: -134px -1px;
    width: 102px;
    height: 35px;
}
#projectsCarousel .carousel-indicators li:nth-of-type(4) {
    background-position: -238px -1px;
    width: 130px;
    height: 35px;
}
#projectsCarousel .carousel-indicators li:nth-of-type(5) {
    background-position: -290px -45px;
    width: 130px;
    height: 26px;
}
#projectsCarousel .carousel-indicators li:nth-of-type(6) {
    background-position: -374px 0px;
    width: 65px;
    height: 34px;
}
#projectsCarousel .carousel-indicators li:nth-of-type(7) {
    background-position: -445px 0px;
    width: 50px;
    height: 33px;
}
#projectsCarousel .carousel-indicators li:nth-of-type(8) {
    background-position: -134px -47px;
    width: 68px;
    height: 31px;
}
#projectsCarousel .carousel-indicators li:nth-of-type(9) {
    background-position: -210px -50px;
    width: 70px;
    height: 25px;
    margin-right: 0;
}

@media (max-width: 1170px) {
    .projects-text { text-align: center; }
    .projects-text, .projects-image { float: none; }
}

.projects-image img { width: 100%; }

@media (max-width: 768px) {
    .projects-text li { display: block; }

    .projects-text li:nth-of-type(1), .projects-text li:nth-of-type(2) {
        margin-right: 0;
        padding-bottom: 10px;
    }

    #projectsCarousel .carousel-control { display: none; }
}
/******************** Section 5 END********************/



/******************** Section 6 ********************/
.section-six-wrap { background-color: #fff; }

.section-six .carousel-indicators { bottom: 25px; }

.section-six .carousel-indicators li {
    background-color: #CDCDCD;
    border: none;
}

.section-six .carousel-indicators .active {
    width: 10px;
    height: 10px;
    background-color: #333;
    margin: 1px;
}

.section-six p.title {
    color: #131313;
    padding: 55px 0 42px 0;
}

.recalls {
    display: table;
    padding-bottom: 65px;
}

.recalls li {
    display: inline-block;
    width: 300px;
    float: left;
    padding-bottom: 20px;
}

.recalls li:nth-of-type(1),
.recalls li:nth-of-type(2) { margin-right: 20px; }

.recalls img {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
}

.recalls div {
    width: 240px;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}

.client-name, .position {
    color: #1FB4CA;
    font-weight: bold;
}

.recall {
    width: 210px;
    font-size: 14px;
    color: #404040;
}

.position {
    font-size: 11px;
    padding: 2px 0 20px 0;
}

@media (max-width: 956px){
    .recalls { margin: 0 auto; }
    .recalls li { clear: both; }
    .recalls li:nth-of-type(1),
    .recalls li:nth-of-type(2) { margin-right: 0; }
}
/******************** Section 6 END********************/

/******************** Section 7 ********************/
.section-seven-wrap {
    background-color: #111E26;
    text-transform: uppercase;
}

.section-seven p.title {
    color: #fff;
    padding: 55px 0 40px 0;
}

/***********Arrow START**********/
.arrow-wrap {
    position: relative;
    height: 170px;
    margin-top: 95px;
}

.my-arrow {
    display: inline-block;
    position: relative;
    float: left;
    width: 850px;
    height: 32px;
    background-color: #16515F;
}

.triangle {
    border-left: 16px solid #16515F;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    float: left;
}

.arrow-wrap > p {
    position: absolute;
    color: #1EB3CB;
    font-size: 14px;
    font-weight: bold;
}
.arrow-wrap > p:nth-of-type(1) { top: -40px; }
.arrow-wrap > p:nth-of-type(2) { top: 53px; }

.arrow-wrap ul {
    position: absolute;
    color: #fff;
    font-size: 9.5px;
}
.arrow-wrap li {
    position: relative;
    display: inline-block;
    font-family: 'Arial';
    text-transform: uppercase;
    padding-bottom: 10px;
    vertical-align: top;
    line-height: 13px;
}

.client-list {
    top: -88px;
    left: 93px;
}

.pwrg-list {
    top: 62px;
    left: 195px;
}

/*Item size*/
.client-list li:nth-of-type(1) { width: 100px; }
.client-list li:nth-of-type(2) { width: 132px; }
.client-list li:nth-of-type(3) { width: 132px; }
.client-list li:nth-of-type(4) { width: 148px; }
.client-list li:nth-of-type(5) { width: 127px; }
.client-list li:nth-of-type(6) { width: 119px; }

.pwrg-list li:nth-of-type(1) { width: 97px; }
.pwrg-list li:nth-of-type(2) { width: 86px; }
.pwrg-list li:nth-of-type(3) { width: 80px; }
.pwrg-list li:nth-of-type(4) { width: 148px; }
.pwrg-list li:nth-of-type(5) { width: 82px; }
.pwrg-list li:nth-of-type(6) { width: 88px; }
.pwrg-list li:nth-of-type(7) { width: 75px; }

.client-list li:after { bottom: -39px; }
.client-list li:first-of-type:after { bottom: -26px; }

.pwrg-list li:after { bottom: 84px; }
.pwrg-list li:nth-of-type(3):after { bottom: 71px; }
.pwrg-list li:last-of-type:after { bottom: 74px; }

/*Icon left line*/
.client-list li:nth-of-type(1):after,
.client-list li:nth-of-type(3):after,
.client-list li:nth-of-type(5):after,
.client-list li:nth-of-type(6):after,
.pwrg-list li:nth-of-type(2):after,
.pwrg-list li:nth-of-type(3):after,
.pwrg-list li:nth-of-type(5):after,
.pwrg-list li:nth-of-type(6):after,
.pwrg-list li:nth-of-type(7):after {
    position: absolute;
    content: '\20D3';
    color: #1EB3CB;
    font-weight: bold;
    font-size: 16px;
    left: -6px;
}

.client-list li:before, .pwrg-list li:before {
    display: block;
    font-family: 'icomoon';
    color: #1EB3CB;
    font-size: 20px;
    padding-bottom: 14px;
}
.client-list .icon-tasks:before { font-size: 25px; }
.pwrg-list .icon-support:before {
    font-size: 30px;
    margin-top: -10px;
}

/*List inside arrow*/
.my-arrow li {
    position: absolute;
    top: -8px;
    padding-top: 18px;
    border-left: 2px solid #1EB3CB;
    padding-left: 12px;
    height: 48px;
}

.my-arrow li:nth-of-type(1) { left: 195px; }
.my-arrow li:nth-of-type(2) { left: 465px; }
.my-arrow li:nth-of-type(3) { left: 552px; }

/*Icon-round*/
.my-arrow li:nth-of-type(1):before,
.my-arrow li:nth-of-type(2):before {
    content: '\25CF';
    color: #1EB3CB;
    position: absolute;
    font-size: 34px;
    left: -11px;
    top: 16px;
}
/*Icon-plus*/
.my-arrow li:nth-of-type(1):after,
.my-arrow li:nth-of-type(2):after {
    content: '\002B';
    color: #fff;
    position: absolute;
    font-size: 16px;
    left: -5.5px;
    top: 19px;
    font-weight: bold;
}
/*Icon-contract*/
.icon-contract:before {
    font-family: icomoon;
    color: #fff;
    position: absolute;
    font-size: 15px;
    left: -9px;
    top: 15px;
    background-color: #1EB3CB;
    padding: 2px 1px;
    border-radius: 1px;
}
/*List inside arrow END*/

p.icon-perfect {
    right: 0;
    top: -13px;
    font: normal 9.5px Arial;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.icon-perfect:before {
    display: block;
    font: bold 26px 'icomoon';
    color: #1EB3CB;
    padding-bottom: 11px;
}

@media (max-width: 956px){
    .arrow-wrap { display: none; }
}
/***********Arrow END**********/

.contact-us {
    text-align: center;
    padding: 40px;
    margin-top: 40px;
    border: 6px solid #fff;
    color: #fff;
}

.contact-us p:nth-of-type(1) {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 6px;
}

.contact-us p:nth-of-type(2) {
    font-size: 27px;
    padding: 6px 0 27px 0;
}
.contact-us a { color: #fff; }

.contact-us input {
    width: 193px;
    height: 40px;
    border: none;
    border-radius: 3px;
}

.contact-us input:nth-of-type(1) {
    padding: 10px 25px;
    margin-right: 14px;
    background-color: #fff;
    color: #000;
}
.contact-us input:nth-of-type(2) {
    padding: 10px 32px;
    background-color: #1D96A9;
    color: #fff;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .contact-us input {
        display: block;
        margin: 0 auto;
    }
    .contact-us input:nth-of-type(1) {
        margin: 0 auto 14px auto;
    }
}

@media (max-width: 956px) {
    .contact-us { margin-top: 0; }
}

.sending {
    margin: 45px 0 100px 0;
    text-transform: uppercase;
}

.sending p {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding-top: 8px;
}

.sending input {
    display: inline-block;
    height: 30px;
    border: none;
    text-transform: uppercase;
}

.sending input:nth-of-type(1) {
    width: 220px;
    margin-left: 28px;
    font-size: 11px;
    font-weight: bold;
}

input::-webkit-input-placeholder, input.form-control::-webkit-input-placeholder { color: #000; }
input::-moz-placeholder, input.form-control::-moz-placeholder          { color: #000; }
input:-moz-placeholder, input.form-control:-moz-placeholder           { color: #000; }
input:-ms-input-placeholder, input.form-control:-ms-input-placeholder      { color: #000; }

.sending input:nth-of-type(2) {
    width: 150px;
    margin-left: 5px;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(31, 168, 189, 1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(31, 168, 189, 1);
}

.section-seven .call {
    color: #1C97A9;
    border: 1px solid #1C97A9;
}
.section-seven .call:hover {
    color: #1FA8BD;
    border: 1px solid #1FA8BD;
}

@media (max-width: 956px) {
    .sending { text-align: center; }

    .sending p {
        display: block;
        text-align: center;
        padding-bottom: 30px;
    }

    .sending input {
        display: block;
        margin: 0 auto;
    }

    .sending input:nth-of-type(1) { margin: 0 auto 25px auto; }

    .sending input:nth-of-type(2) {
        width: 220px;
        margin: 0 auto;
    }
}
/******************** Section 7 END********************/


/******************** Section 8 ********************/
.section-eight-wrap {
    height: 540px;
}
.ymaps-controls-lefttop, .ymaps-controls-righttop, .ymaps-copyrights-pane { display: none !important; }

@media (max-width: 768px) { .section-eight-wrap { max-height: 300px; }}
/******************** Section 8 END********************/

/******************** Section 9 ********************/
.section-nine-wrap {
    background-color: #FFFFFF;
}

.section-nine p.title {
    color: #BA1EC9;
    padding: 55px 0;
}

.blog {
    display: table;
    padding-bottom: 80px;
}

.blog li {
    float: left;
    width: 300px;
    height: 130px;
    margin: 0 20px 20px 0;
    text-align: center;
}

@media (min-width: 956px){
    .blog li:nth-of-type(3) { margin-right: 0px; }
}

@media (max-width: 956px){
    .blog { margin: 0 auto; }
    .blog li {
        float: none;
        margin-right: 0px;
    }
}

.blog li a {
    display: table-cell;
    vertical-align: middle;
    width: 300px;
    height: 130px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.blog li:nth-of-type(1) { background: url('../images/blog1.png'); }
.blog li:nth-of-type(2) { background: url('../images/blog2.png'); }
.blog li:nth-of-type(3) { background: url('../images/blog3.png'); }
/******************** Section 9 END********************/

/******************** Footer ********************/
footer {
    background-color: #111E26;
}

footer ul {
    float: left;
    margin-right: 129px;
    padding: 35px 0 65px 0;
}
footer a, footer p, footer li { color: #fff; }
.main-footer a, footer p, .client-name { text-transform: uppercase; }
footer li { line-height: 1.5; }

footer p {
    font-size: 16px;
    padding-bottom: 2px;
}

.cooperation li:not(:first-child):before {
    content: '\203A';
    color: #1C97A9;
    padding-right: 10px;
    font-weight: bold;
}

.contacts {
    float: left;
    width: 266px;
    padding: 30px 0 65px 0;
}

footer .call {
    color: #1C97A9;
    border: 1px solid #1C97A9;
}
footer .call:hover {
    color: #1FA8BD;
    border: 1px solid #1FA8BD;
}

.request-call {
    display: inline-block;
    width: 120px;
    height: 28px;
}

footer .phone { margin-right: 20px; }

@media (max-width: 956px) {
    footer ul {
        float: none;
        text-align: center;
        margin-right: 0;
        padding: 30px 0 15px 0;
    }
    .contacts {
        width: 100%;
        text-align: center;
        padding: 15px 0 65px 0;
    }
    footer .phone {
        display: block;
        margin-bottom: 20px;
    }
    .main-footer { padding: 35px 0 15px 0; }
    .cooperation { padding: 15px 0; }
}
/******************** Footer END********************/
