
/* Raleway */
@font-face {
    font-family: 'Raleway';
    src:url('../fonts/Raleway/Raleway-Regular.eot');
    src:url('../fonts/Raleway/Raleway-Regular.eot') format('embedded-opentype'),
    url('../fonts/Raleway/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/Raleway/Raleway-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Medium';
    src:url('../fonts/Raleway/Raleway-Medium.eot');
    src:url('../fonts/Raleway/Raleway-Medium.eot') format('embedded-opentype'),
    url('../fonts/Raleway/Raleway-Medium.woff') format('woff'),
    url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype'),
    url('../fonts/Raleway/Raleway-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Bold';
    src:url('../fonts/Raleway/Raleway-Bold.eot');
    src:url('../fonts/Raleway/Raleway-Bold.eot') format('embedded-opentype'),
    url('../fonts/Raleway/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway/Raleway-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Montserrat */
@font-face {
    font-family: 'Montserrat Light';
    src:url('../fonts/Montserrat/Montserrat-Light.eot');
    src:url('../fonts/Montserrat/Montserrat-Light.eot') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype'),
    url('../fonts/Montserrat/Montserrat-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Hairline';
    src:url('../fonts/Montserrat/Montserrat-Hairline.eot');
    src:url('../fonts/Montserrat/Montserrat-Hairline.eot') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-Hairline.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Hairline.ttf') format('truetype'),
    url('../fonts/Montserrat/Montserrat-Hairline.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}





