body { font-family: "CenturyGothic"; }

.landing-page {
    width: 100%;
    height: 955px;
    background: url("../images/tech1.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.landing-page h1 {
    color: #333;
    font-size: 37px;
    line-height: 50px;
    text-align: center;
}

.logo a {
    display: inline-block;
    margin-top: 30px;
}

.logo img { width: 250px; }

.center {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 1170px;
    overflow: hidden;
    box-sizing: border-box;
}

.price {
    font-size: 22px;
    padding: 15px 0;
    background: url('../images/grid.png') rgba(134, 134, 131, 0.25);
    margin: 40px 0 100px 0;
    color: #000;
}

.section { color: #333; }

/*section 1*/
.section-one-wrap { background-color: #F89C48; }

/*section 2*/
.section-two-wrap {
    background: url("../images/tech2.jpg") no-repeat right bottom;
    background-size: cover;
}

/*section 3*/
.section-three-wrap { background-color: #8CC63F; }

/*section 4*/
.section-four-wrap { background-color: #EEE; }

/*section 5*/
.section-five-wrap { background-color: #FFDA3F; }

/*section 6*/
.section-six-wrap {
    background: url("../images/tech3.jpg") no-repeat right center;
    background-size: cover;
}

/*section 7*/
.section-seven-wrap { background-color: #00B3F4; }

/*section 8*/
.section-eight-wrap { background: #ECE4CC url("../images/light_bg.png") repeat center 0; }

.section h2 {
    padding-top: 100px;
    margin: 0;
}

.general-description {
    padding: 37px 0;
    line-height: 1.5;
    font-size: 17px;
}

.general-image {
    width: 100%;
    padding: 0;
}

.black-description { background-color: #494949; color: #fff; }
.dark-description { background-color: rgba(0, 0, 0, 0.6); color: #fff; }
.gray-description { background-color: #E7E7E7; color: #000; }
.blue-description { background-color: #007B9D; color: #fff; }
.violet-description { background-color: rgba(70, 46, 192, 0.35); color: #000; }
.white-description { background-color: rgba(255, 255, 255, 0.5); color: #000; }


@media(min-width: 1200px){
    .row.row-table-lg {
        display: table;
    }
    .row.row-table-lg > [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

@media(min-width: 1200px) {
    .row.title {
        margin-top: 220px;
    }
}
@media(min-width: 992px) and (max-width: 1200px){
    .row.title {
        margin-top: 170px;
    }
}

@media(min-width: 768px) and (max-width: 992px){
    .row.title {
        margin-top: 115px;
    }
}

@media(max-width: 768px){
    .landing-page {
        background: none;
        background-color: #CACACA;
        height: 780px;
    }
    .row.title {
        margin-top: 180px;
    }
    .landing-page h1 {
        font-size: 32px;
    }
}

@media (max-width: 768px){
    .text-center-xs { text-align: center; }
}
@media (max-width: 992px){
    .text-center-sm { text-align: center; }
}
@media (max-width: 1200px){
    .text-center-md { text-align: center; }
}
@media (min-width: 1200px){
    .text-center-lg { text-align: center; }
}
