@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-77691t');
	src:url('fonts/icomoon.eot?#iefix-77691t') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-77691t') format('truetype'),
		url('fonts/icomoon.woff?-77691t') format('woff'),
		url('fonts/icomoon.svg?-77691t#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-atom:before {
	content: "\e600";
}
.icon-brain:before {
	content: "\e601";
}
.icon-code:before {
	content: "\e602";
}
.icon-code2:before {
	content: "\e603";
}
.icon-idea:before {
	content: "\e604";
}
.icon-quality:before {
	content: "\e605";
}
.icon-pen:before {
	content: "\e606";
}
.icon-responsive2:before {
	content: "\e607";
}
.icon-responsive:before {
	content: "\e608";
}
.icon-science:before {
	content: "\e609";
}
.icon-email:before {
	content: "\e60a";
}
.icon-facebook:before {
	content: "\e60b";
}
.icon-github:before {
	content: "\e60c";
}
.icon-linkedin:before {
	content: "\e60d";
}
.icon-phone:before {
	content: "\e60e";
}
.icon-resume:before {
	content: "\e60f";
}
.icon-skype:before {
	content: "\e610";
}
