#about { background-color: #F7F9F9; }
#about .container { padding: 100px 40px; }
#about .container > .row { margin-bottom: 100px; }

#about p {
    font: normal 18px "Raleway";
    color: #8c989e;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

.about-text { padding-top: 10px; }

.about-img img {
    width: 220px;
    /*height: 170px;*/
}

.respond {
    max-width: 575px;
    margin: 0 auto;
    text-align: center;
}

.respond a { color: #f9845b; }

.lp-button.lp-button-black { border: 1px solid #33313C; }

.lp-button.lp-button-black:after {
    background-color: #33313C;
    color: #fff;
}

.lp-button.lp-button-black span { color: #33313C; }

@media (max-width: 991px){
    #about .container > .row { margin-bottom: 80px; }
    .about-img { text-align: center; }
    .about-text {
        text-align: justify;
        padding-top: 85px;
    }

    #about .row:nth-of-type(2) .hide { display: block !important; }
    #about .row:nth-of-type(2) .show { display: none !important; }
}