/* Animated-menu */

.animated-menu { float: right; }
.animated-menu a { padding: 6px 15px; }

.animated-menu a:before,
.animated-menu a:after {
    position: absolute;
    width: 30px;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

.animated-menu a::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.animated-menu a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.animated-menu a:hover:before,
.animated-menu a:hover:after,
.animated-menu a:focus:before,
.animated-menu a:focus:after {
    opacity: 1;
}

.animated-menu a:hover:before,
.animated-menu a:focus:before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    -ms-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.animated-menu a:hover:after,
.animated-menu a:focus:after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    -ms-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}

.active a:before, .active a:after { opacity: 1; }

.active a:before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    -ms-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.active a:after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    -ms-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}



/* Skills parallax start*/
@-moz-keyframes anim1 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(10px, 5px);
        -ms-transform: translate(10px, 5px);
        -webkit-transform: translate(10px, 5px);
        transform: translate(10px, 5px);
    }
    40% {
        -moz-transform: translate(15px, 10px);
        -ms-transform: translate(15px, 10px);
        -webkit-transform: translate(15px, 10px);
        transform: translate(15px, 10px);
    }
    60% {
        -moz-transform: translate(10px, 15px);
        -ms-transform: translate(10px, 15px);
        -webkit-transform: translate(10px, 15px);
        transform: translate(10px, 15px);
    }
    80% {
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }
}
@-webkit-keyframes anim1 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(10px, 5px);
        -ms-transform: translate(10px, 5px);
        -webkit-transform: translate(10px, 5px);
        transform: translate(10px, 5px);
    }
    40% {
        -moz-transform: translate(15px, 10px);
        -ms-transform: translate(15px, 10px);
        -webkit-transform: translate(15px, 10px);
        transform: translate(15px, 10px);
    }
    60% {
        -moz-transform: translate(10px, 15px);
        -ms-transform: translate(10px, 15px);
        -webkit-transform: translate(10px, 15px);
        transform: translate(10px, 15px);
    }
    80% {
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }
}
@-o-keyframes anim1 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(10px, 5px);
        -ms-transform: translate(10px, 5px);
        -webkit-transform: translate(10px, 5px);
        transform: translate(10px, 5px);
    }
    40% {
        -moz-transform: translate(15px, 10px);
        -ms-transform: translate(15px, 10px);
        -webkit-transform: translate(15px, 10px);
        transform: translate(15px, 10px);
    }
    60% {
        -moz-transform: translate(10px, 15px);
        -ms-transform: translate(10px, 15px);
        -webkit-transform: translate(10px, 15px);
        transform: translate(10px, 15px);
    }
    80% {
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }
}
@-ms-keyframes anim1 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(10px, 5px);
        -ms-transform: translate(10px, 5px);
        -webkit-transform: translate(10px, 5px);
        transform: translate(10px, 5px);
    }
    40% {
        -moz-transform: translate(15px, 10px);
        -ms-transform: translate(15px, 10px);
        -webkit-transform: translate(15px, 10px);
        transform: translate(15px, 10px);
    }
    60% {
        -moz-transform: translate(10px, 15px);
        -ms-transform: translate(10px, 15px);
        -webkit-transform: translate(10px, 15px);
        transform: translate(10px, 15px);
    }
    80% {
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }
}
@keyframes anim1 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(10px, 5px);
        -ms-transform: translate(10px, 5px);
        -webkit-transform: translate(10px, 5px);
        transform: translate(10px, 5px);
    }
    40% {
        -moz-transform: translate(15px, 10px);
        -ms-transform: translate(15px, 10px);
        -webkit-transform: translate(15px, 10px);
        transform: translate(15px, 10px);
    }
    60% {
        -moz-transform: translate(10px, 15px);
        -ms-transform: translate(10px, 15px);
        -webkit-transform: translate(10px, 15px);
        transform: translate(10px, 15px);
    }
    80% {
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }
}
@-moz-keyframes anim2 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(-10px, -5px);
        -ms-transform: translate(-10px, -5px);
        -webkit-transform: translate(-10px, -5px);
        transform: translate(-10px, -5px);
    }
    40% {
        -moz-transform: translate(-15px, -10px);
        -ms-transform: translate(-15px, -10px);
        -webkit-transform: translate(-15px, -10px);
        transform: translate(-15px, -10px);
    }
    60% {
        -moz-transform: translate(-10px, -15px);
        -ms-transform: translate(-10px, -15px);
        -webkit-transform: translate(-10px, -15px);
        transform: translate(-10px, -15px);
    }
    80% {
        -moz-transform: translate(-5px, -10px);
        -ms-transform: translate(-5px, -10px);
        -webkit-transform: translate(-5px, -10px);
        transform: translate(-5px, -10px);
    }
}
@-webkit-keyframes anim2 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(-10px, -5px);
        -ms-transform: translate(-10px, -5px);
        -webkit-transform: translate(-10px, -5px);
        transform: translate(-10px, -5px);
    }
    40% {
        -moz-transform: translate(-15px, -10px);
        -ms-transform: translate(-15px, -10px);
        -webkit-transform: translate(-15px, -10px);
        transform: translate(-15px, -10px);
    }
    60% {
        -moz-transform: translate(-10px, -15px);
        -ms-transform: translate(-10px, -15px);
        -webkit-transform: translate(-10px, -15px);
        transform: translate(-10px, -15px);
    }
    80% {
        -moz-transform: translate(-5px, -10px);
        -ms-transform: translate(-5px, -10px);
        -webkit-transform: translate(-5px, -10px);
        transform: translate(-5px, -10px);
    }
}
@-o-keyframes anim2 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(-10px, -5px);
        -ms-transform: translate(-10px, -5px);
        -webkit-transform: translate(-10px, -5px);
        transform: translate(-10px, -5px);
    }
    40% {
        -moz-transform: translate(-15px, -10px);
        -ms-transform: translate(-15px, -10px);
        -webkit-transform: translate(-15px, -10px);
        transform: translate(-15px, -10px);
    }
    60% {
        -moz-transform: translate(-10px, -15px);
        -ms-transform: translate(-10px, -15px);
        -webkit-transform: translate(-10px, -15px);
        transform: translate(-10px, -15px);
    }
    80% {
        -moz-transform: translate(-5px, -10px);
        -ms-transform: translate(-5px, -10px);
        -webkit-transform: translate(-5px, -10px);
        transform: translate(-5px, -10px);
    }
}
@-ms-keyframes anim2 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(-10px, -5px);
        -ms-transform: translate(-10px, -5px);
        -webkit-transform: translate(-10px, -5px);
        transform: translate(-10px, -5px);
    }
    40% {
        -moz-transform: translate(-15px, -10px);
        -ms-transform: translate(-15px, -10px);
        -webkit-transform: translate(-15px, -10px);
        transform: translate(-15px, -10px);
    }
    60% {
        -moz-transform: translate(-10px, -15px);
        -ms-transform: translate(-10px, -15px);
        -webkit-transform: translate(-10px, -15px);
        transform: translate(-10px, -15px);
    }
    80% {
        -moz-transform: translate(-5px, -10px);
        -ms-transform: translate(-5px, -10px);
        -webkit-transform: translate(-5px, -10px);
        transform: translate(-5px, -10px);
    }
}
@keyframes anim2 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(-10px, -5px);
        -ms-transform: translate(-10px, -5px);
        -webkit-transform: translate(-10px, -5px);
        transform: translate(-10px, -5px);
    }
    40% {
        -moz-transform: translate(-15px, -10px);
        -ms-transform: translate(-15px, -10px);
        -webkit-transform: translate(-15px, -10px);
        transform: translate(-15px, -10px);
    }
    60% {
        -moz-transform: translate(-10px, -15px);
        -ms-transform: translate(-10px, -15px);
        -webkit-transform: translate(-10px, -15px);
        transform: translate(-10px, -15px);
    }
    80% {
        -moz-transform: translate(-5px, -10px);
        -ms-transform: translate(-5px, -10px);
        -webkit-transform: translate(-5px, -10px);
        transform: translate(-5px, -10px);
    }
}
/* Skills parallax end */


/* Contacts pulse animation start */
@-webkit-keyframes pulse {
    0% {
        opacity: 0;
        padding: 0;
    }

    1% {
        opacity: .6;
        padding: 0;
    }

    80% {
        opacity: .6;
        padding: 5.6rem;
    }

    100% {
        opacity: 0;
        padding: 7rem;
    }
}

@-moz-keyframes pulse {
    0% {
        opacity: 0;
        padding: 0;
    }

    1% {
        opacity: .6;
        padding: 0;
    }

    80% {
        opacity: .6;
        padding: 5.6rem;
    }

    100% {
        opacity: 0;
        padding: 7rem;
    }
}

@-ms-keyframes pulse {
    0% {
        opacity: 0;
        padding: 0;
    }

    1% {
        opacity: .6;
        padding: 0;
    }

    80% {
        opacity: .6;
        padding: 5.6rem;
    }

    100% {
        opacity: 0;
        padding: 7rem;
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
        padding: 0;
    }

    1% {
        opacity: .6;
        padding: 0;
    }

    80% {
        opacity: .6;
        padding: 5.6rem;
    }

    100% {
        opacity: 0;
        padding: 7rem;
    }
}
/* Contacts pulse animation end */

/* mX orbit animation start */
@-webkit-keyframes mX {
    0% { -webkit-transform: translateX(0);    }
    50% { -webkit-transform: translateX(0.5em); }
    100% { -webkit-transform: translateX(0);  }
}
@-moz-keyframes mX {
    0% { -moz-transform: translateX(0);    }
    50% { -moz-transform: translateX(0.5em); }
    100% { -moz-transform: translateX(0);  }
}
@-ms-keyframes mX {
    0% { -ms-transform: translateX(0);    }
    50% { -ms-transform: translateX(0.5em); }
    100% { -ms-transform: translateX(0px);  }
}
@keyframes mX {
    0% { transform: translateX(0);    }
    50% { transform: translateX(0.5em); }
    100% { transform: translateX(0);   }
}
/* mX orbit animation end */


/* mO orbit animation start */
@-webkit-keyframes mO {
    0% { -webkit-transform: rotate(0deg);   }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes mO {
    0% { -moz-transform: rotate(0deg);   }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes mO {
    0% { -ms-transform: rotate(0deg);   }
    100% { -ms-transform: rotate(360deg); }
}
@keyframes mO {
    0% { transform: rotate(0deg);   }
    100% { transform: rotate(360deg); }
}
/* mO orbit animation end */