.m0 { margin: 0; }
.p0 { padding: 0; }
.pl40 {padding-left: 40px;}

.pt20 { padding-top: 20px; }
.pt40 { padding-top: 40px; }
.pt60 { padding-top: 60px; }
.pl104 { padding-left: 104px; }
.pl55 { padding-left: 55px; }

.pt12 { padding-top: 12px; }
.ml104 { margin-left: 104px; }
.pt50 { padding-top: 50px; }
.mt35 { margin-top: 35px; }

.blue { background-color: #354C8C; }
.green { background-color: green; }
.red { background-color: red; }
.yellow { background-color: yellow; }

.fast-animation {
    -webkit-animation-duration: 0s !important;
    -moz-animation-duration: 0s !important;
    -o-animation-duration: 0s !important;
    animation-duration: 0s !important;
}

.indent2 { text-indent: 2em; }
.lh32:not(.foo) {line-height: 32px;}