* { margin: 0; padding: 0; }

body {
    background: url("../images/green-background.jpg") repeat-x center 80%;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.winnerCat { background: url("../images/winnerCat.jpg") no-repeat; }
.winnerDog { background: url("../images/winnerDog.jpg") no-repeat; }

.pageWrapper {
    /*position: relative; */
    width: 1349px;
    margin: 0 auto;
}

#center {
    width: 304px;
    margin: 0 auto;
    padding-top: 80px;
}

.cube {
    width: 101px;
    height: 100px;
}

.cube.zero:after { display: block; }
.cube.cross:before { display: block; }

.cube:before,
.cube:after {
    display: none;
    position: absolute;
    font-size: 70px;
    padding: 9px 30px;
    color: #fff;
}

.cube:before { content: '\2717'; }
.cube:after { content: '\0BE6'; }

.leftCube {
    float: left;
    border-right: 1px solid #fff;
}

.rightCube {
    float: right;
    border-left: 1px solid #fff;
}

.centerCube {
    margin-left: 102px;
}

.cube:nth-child(4),
.cube:nth-child(5),
.cube:nth-child(6) {
    border-top: 1px solid #fff; border-bottom: 1px solid #fff;
}

#button {
    position: absolute;
    left: 48px;
    top: 45px;
    width: 51px;
    height: 51px;
    color: #000;
    border-radius: 50%;
    border: 1px solid #FFED23;
    background-color: #FFED23;
    font: normal 15px Century Gothic;
}
#button:focus { outline: none; }
#button:hover { cursor: pointer; }

.wrapPetal {
    position: relative;
    width: 150px;
    height: 140px;
    margin-left: 250px;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    -moz-transition: -moz-transform 2s ease-in-out;
    -ms-transition: -ms-transform 2s ease-in-out;
    -o-transition: -o-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
}

.petal {
    width: 150px;
    height: 30px;
    top: 55px;
    -webkit-transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in;
    -ms-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in;
}

.petal,
.petal:before,
.petal:after {
    position: absolute;
    border-radius: 50%;
}

.petal:before,
.petal:after {
    content: '';
    width: 35px;
    height: 130px;
    right: 58px;
    top: -50px;
    -webkit-transition: background-color 1s ease-in;
    -moz-transition: background-color 1s ease-in;
    -ms-transition: background-color 1s ease-in;
    -o-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in;
}

.petal:before {
    -webkit-transform: skewX(-32deg) skewY(50deg);
    -moz-transform: skewX(-32deg) skewY(50deg);
    -ms-transform: skewX(-32deg) skewY(50deg);
    -o-transform: skewX(-32deg) skewY(50deg);
    transform: skewX(-32deg) skewY(50deg);
}
.petal:after {
    -webkit-transform: skewX(32deg) skewY(-50deg);
    -moz-transform: skewX(32deg) skewY(-50deg);
    -ms-transform: skewX(32deg) skewY(-50deg);
    -o-transform: skewX(32deg) skewY(-50deg);
    transform: skewX(32deg) skewY(-50deg);
}

.whiteFlower,
.whiteFlower:before,
.whiteFlower:after {
    background-color: #fff;
}

.redFlower,
.redFlower:before,
.redFlower:after {
    background-color: rgba(255, 0, 0, 0.43);
}

.rollingFlower {
    -webkit-transform: translateX(760px) rotateZ(360deg);
    -moz-transform: translateX(760px) rotateZ(360deg);
    -ms-transform: translateX(760px) rotateZ(360deg);
    -o-transform: translateX(760px) rotateZ(360deg);
    transform: translateX(760px) rotateZ(360deg);
}

#message {
    position: fixed;
    left: 525px;
    top: 181px;
    width: 300px;
    height: 100px;
    background-color: gray;
    z-index: 100;
}









