/* header start*/
header {
    width: 100%;
    min-height: 84px;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -ms-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}
.dark-header { background-color: rgba(0, 0, 0, 0.7); }

.logo {
    position: relative;
    display: inline-block;
    float: left;
    color: #fff;
    width: 1em;
    height: 1em;
    background-image: url('../images/science-logo.svg');
    background-size: contain;
    font-size: 55px;
    margin-top: 15px;
}


/* orbits start */
.core {
    position: absolute;
    width: 0.09em;
    height: 0.09em;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -0.045em;
    margin-left: -0.045em;
}

.orbit {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.orbit-1 {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.orbit-2 {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.orbit-3 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.moveX {
    width: 0.5em;
    /*background-color: red;*/
    -webkit-animation: mX 20s ease-in-out 0s infinite;
    -moz-animation: mX 20s ease-in-out 0s infinite;
    -ms-animation: mX 20s ease-in-out 0s infinite;
    animation: mX 20s ease-in-out 0s infinite;
}

.moveY {
    width: 0.5em;
    /*background: blue;*/
    -webkit-animation: mO 20s linear 0s infinite;
    -moz-animation: mO 20s linear 0s infinite;
    -ms-animation: mO 20s linear 0s infinite;
    animation: mO 20s linear 0s infinite;
}
/* orbits end */


.animated-menu li {
    float: left;
    padding: 27px 0;
    margin-right: 20px;
}
.animated-menu li:last-of-type { margin-right: 0; }
.animated-menu li:first-of-type { display: none; }

.animated-menu li a {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font: 15px 'Raleway';
}

.navbar {
    position: relative;
    float: right;
    height: 36px;
    padding: 10px;
    margin: 22px 15px 22px 0;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.navbar .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}

.navbar .icon-bar + .icon-bar { margin-top: 4px; }

.icon-bar, .animated-menu {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}

header .navbar .button-cross:nth-of-type(2) {
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

header .navbar .button-cross:nth-of-type(3) { display: none; }

header .navbar .button-cross:nth-of-type(4) {
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

header .navbar .button-cross+.button-cross { margin-top: -2px; }

@media (min-width: 992px){ .animated-menu.collapse { display: block; }}

@media (max-width: 991px){
    header {
        min-height: 60px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    header .animated-menu {
        width: 50%;
        margin: -45px 25% 10px 25%;
    }

    .animated-menu a {
        padding: 7px 15px;
    }
    .animated-menu a::before, .animated-menu a::after {
        width: 27px;
    }

    .animated-menu li {
        float: none;
        width: 150px;
        padding: 7px 0;
        margin: 0 auto;
        text-align: center;
    }

    .navbar {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .animated-menu li:last-of-type { margin: 0 auto; }
    .animated-menu li a { font-size: 14px; }

    .logo {
        font-size: 2.5em;
        margin: 13px 0 0 20px;
    }

    .core {
        width: 0.07em;
        height: 0.07em;
    }

    .core.one {
        top: 28px;
        left: 18px;
    }

    .core.two {
        top: 28px;
        left: 44px;
    }
}
/* toggle navbar menu end */
/* header end */