/* Animated-menu */

.animated-menu { float: right; }
.animated-menu a { padding: 6px 15px; }

.animated-menu a::before,
.animated-menu a::after {
    position: absolute;
    width: 30px;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

.animated-menu a::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.animated-menu a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.animated-menu a:hover::before,
.animated-menu a:hover::after,
.animated-menu a:focus::before,
.animated-menu a:focus::after {
    opacity: 1;
}

.animated-menu a:hover::before,
.animated-menu a:focus::before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    -ms-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.animated-menu a:hover::after,
.animated-menu a:focus::after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    -ms-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}

.active a:before, .active a:after { opacity: 1; }

.active a:before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    -ms-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.active a:after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    -ms-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}



/* Skills parallax start*/
@-moz-keyframes anim1 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(10px, 5px);
        -ms-transform: translate(10px, 5px);
        -webkit-transform: translate(10px, 5px);
        transform: translate(10px, 5px);
    }
    40% {
        -moz-transform: translate(15px, 10px);
        -ms-transform: translate(15px, 10px);
        -webkit-transform: translate(15px, 10px);
        transform: translate(15px, 10px);
    }
    60% {
        -moz-transform: translate(10px, 15px);
        -ms-transform: translate(10px, 15px);
        -webkit-transform: translate(10px, 15px);
        transform: translate(10px, 15px);
    }
    80% {
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }
}
@-webkit-keyframes anim1 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(10px, 5px);
        -ms-transform: translate(10px, 5px);
        -webkit-transform: translate(10px, 5px);
        transform: translate(10px, 5px);
    }
    40% {
        -moz-transform: translate(15px, 10px);
        -ms-transform: translate(15px, 10px);
        -webkit-transform: translate(15px, 10px);
        transform: translate(15px, 10px);
    }
    60% {
        -moz-transform: translate(10px, 15px);
        -ms-transform: translate(10px, 15px);
        -webkit-transform: translate(10px, 15px);
        transform: translate(10px, 15px);
    }
    80% {
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }
}
@-o-keyframes anim1 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(10px, 5px);
        -ms-transform: translate(10px, 5px);
        -webkit-transform: translate(10px, 5px);
        transform: translate(10px, 5px);
    }
    40% {
        -moz-transform: translate(15px, 10px);
        -ms-transform: translate(15px, 10px);
        -webkit-transform: translate(15px, 10px);
        transform: translate(15px, 10px);
    }
    60% {
        -moz-transform: translate(10px, 15px);
        -ms-transform: translate(10px, 15px);
        -webkit-transform: translate(10px, 15px);
        transform: translate(10px, 15px);
    }
    80% {
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }
}
@-ms-keyframes anim1 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(10px, 5px);
        -ms-transform: translate(10px, 5px);
        -webkit-transform: translate(10px, 5px);
        transform: translate(10px, 5px);
    }
    40% {
        -moz-transform: translate(15px, 10px);
        -ms-transform: translate(15px, 10px);
        -webkit-transform: translate(15px, 10px);
        transform: translate(15px, 10px);
    }
    60% {
        -moz-transform: translate(10px, 15px);
        -ms-transform: translate(10px, 15px);
        -webkit-transform: translate(10px, 15px);
        transform: translate(10px, 15px);
    }
    80% {
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }
}
@keyframes anim1 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(10px, 5px);
        -ms-transform: translate(10px, 5px);
        -webkit-transform: translate(10px, 5px);
        transform: translate(10px, 5px);
    }
    40% {
        -moz-transform: translate(15px, 10px);
        -ms-transform: translate(15px, 10px);
        -webkit-transform: translate(15px, 10px);
        transform: translate(15px, 10px);
    }
    60% {
        -moz-transform: translate(10px, 15px);
        -ms-transform: translate(10px, 15px);
        -webkit-transform: translate(10px, 15px);
        transform: translate(10px, 15px);
    }
    80% {
        -moz-transform: translate(5px, 10px);
        -ms-transform: translate(5px, 10px);
        -webkit-transform: translate(5px, 10px);
        transform: translate(5px, 10px);
    }
}
@-moz-keyframes anim2 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(-10px, -5px);
        -ms-transform: translate(-10px, -5px);
        -webkit-transform: translate(-10px, -5px);
        transform: translate(-10px, -5px);
    }
    40% {
        -moz-transform: translate(-15px, -10px);
        -ms-transform: translate(-15px, -10px);
        -webkit-transform: translate(-15px, -10px);
        transform: translate(-15px, -10px);
    }
    60% {
        -moz-transform: translate(-10px, -15px);
        -ms-transform: translate(-10px, -15px);
        -webkit-transform: translate(-10px, -15px);
        transform: translate(-10px, -15px);
    }
    80% {
        -moz-transform: translate(-5px, -10px);
        -ms-transform: translate(-5px, -10px);
        -webkit-transform: translate(-5px, -10px);
        transform: translate(-5px, -10px);
    }
}
@-webkit-keyframes anim2 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(-10px, -5px);
        -ms-transform: translate(-10px, -5px);
        -webkit-transform: translate(-10px, -5px);
        transform: translate(-10px, -5px);
    }
    40% {
        -moz-transform: translate(-15px, -10px);
        -ms-transform: translate(-15px, -10px);
        -webkit-transform: translate(-15px, -10px);
        transform: translate(-15px, -10px);
    }
    60% {
        -moz-transform: translate(-10px, -15px);
        -ms-transform: translate(-10px, -15px);
        -webkit-transform: translate(-10px, -15px);
        transform: translate(-10px, -15px);
    }
    80% {
        -moz-transform: translate(-5px, -10px);
        -ms-transform: translate(-5px, -10px);
        -webkit-transform: translate(-5px, -10px);
        transform: translate(-5px, -10px);
    }
}
@-o-keyframes anim2 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(-10px, -5px);
        -ms-transform: translate(-10px, -5px);
        -webkit-transform: translate(-10px, -5px);
        transform: translate(-10px, -5px);
    }
    40% {
        -moz-transform: translate(-15px, -10px);
        -ms-transform: translate(-15px, -10px);
        -webkit-transform: translate(-15px, -10px);
        transform: translate(-15px, -10px);
    }
    60% {
        -moz-transform: translate(-10px, -15px);
        -ms-transform: translate(-10px, -15px);
        -webkit-transform: translate(-10px, -15px);
        transform: translate(-10px, -15px);
    }
    80% {
        -moz-transform: translate(-5px, -10px);
        -ms-transform: translate(-5px, -10px);
        -webkit-transform: translate(-5px, -10px);
        transform: translate(-5px, -10px);
    }
}
@-ms-keyframes anim2 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(-10px, -5px);
        -ms-transform: translate(-10px, -5px);
        -webkit-transform: translate(-10px, -5px);
        transform: translate(-10px, -5px);
    }
    40% {
        -moz-transform: translate(-15px, -10px);
        -ms-transform: translate(-15px, -10px);
        -webkit-transform: translate(-15px, -10px);
        transform: translate(-15px, -10px);
    }
    60% {
        -moz-transform: translate(-10px, -15px);
        -ms-transform: translate(-10px, -15px);
        -webkit-transform: translate(-10px, -15px);
        transform: translate(-10px, -15px);
    }
    80% {
        -moz-transform: translate(-5px, -10px);
        -ms-transform: translate(-5px, -10px);
        -webkit-transform: translate(-5px, -10px);
        transform: translate(-5px, -10px);
    }
}
@keyframes anim2 {
    0%, 100% {
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
    20% {
        -moz-transform: translate(-10px, -5px);
        -ms-transform: translate(-10px, -5px);
        -webkit-transform: translate(-10px, -5px);
        transform: translate(-10px, -5px);
    }
    40% {
        -moz-transform: translate(-15px, -10px);
        -ms-transform: translate(-15px, -10px);
        -webkit-transform: translate(-15px, -10px);
        transform: translate(-15px, -10px);
    }
    60% {
        -moz-transform: translate(-10px, -15px);
        -ms-transform: translate(-10px, -15px);
        -webkit-transform: translate(-10px, -15px);
        transform: translate(-10px, -15px);
    }
    80% {
        -moz-transform: translate(-5px, -10px);
        -ms-transform: translate(-5px, -10px);
        -webkit-transform: translate(-5px, -10px);
        transform: translate(-5px, -10px);
    }
}
/* Skills parallax end */


/* Contacts pulse animation start */
@-webkit-keyframes pulse {
    from {
        opacity: 0;
        padding: 0
    }

    1% {
        opacity: .6;
        padding: 0
    }

    80% {
        opacity: .6;
        padding: 5.6rem
    }

    100% {
        opacity: 0;
        padding: 7rem
    }
}

@-moz-keyframes pulse {
    from {
        opacity: 0;
        padding: 0
    }

    1% {
        opacity: .6;
        padding: 0
    }

    80% {
        opacity: .6;
        padding: 5.6rem
    }

    100% {
        opacity: 0;
        padding: 7rem
    }
}

@-ms-keyframes pulse {
    from {
        opacity: 0;
        padding: 0
    }

    1% {
        opacity: .6;
        padding: 0
    }

    80% {
        opacity: .6;
        padding: 5.6rem
    }

    100% {
        opacity: 0;
        padding: 7rem
    }
}

@keyframes pulse {
    from {
        opacity: 0;
        padding: 0
    }

    1% {
        opacity: .6;
        padding: 0
    }

    80% {
        opacity: .6;
        padding: 5.6rem
    }

    100% {
        opacity: 0;
        padding: 7rem
    }
}
/* Contacts pulse animation end */

/* Logo atom animation start */
@-webkit-keyframes logo-atom-animation {
    0%, 100% {
        -webkit-transform: translate(0px, 0px);
    }
    10% {
        -webkit-transform: translate(12px, -1px);
    }
    20% {
        -webkit-transform: translate(25px, 4px);
    }
    30% {
        -webkit-transform: translate(37px, 13px);
    }
    40% {
        -webkit-transform: translate(45px, 24px);
    }
    50% {
        -webkit-transform: translate(37px, 33px);
    }
    60% {
        -webkit-transform: translate(23px, 29px);
    }
    70% {
        -webkit-transform: translate(11px, 23px);
    }
    80% {
        -webkit-transform: translate(1px, 13px);
    }
    90% {
        -webkit-transform: translate(1px, 13px);
    }
}
/* Logo atom animation end */