.media-icons {
    position: relative;
    background: url("../images/contacts-bg.jpg") center center;
    background-size: cover;
    min-height: 450px;
}

.opacity-bg2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-transition: background-color 2s ease-in;
    -moz-transition: background-color 2s ease-in;
    -ms-transition: background-color 2s ease-in;
    transition: background-color 2s ease-in;
}

.media-icons ul {
    padding-top: 130px;
    text-align: center;
}

.media-icons li {
    position: relative;
    display: inline-block;
    margin-right: 50px;
}

.media-icons li:last-of-type { margin-right: 0; }

.media-icons li:before {
    font-size: 110px;
    color: #585F6C;
}

.media-icons li a {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100%;
    font: normal 12px "Raleway";
    color: #585F6C;
    line-height: 20;
}

.contact-animation {
    position: absolute;
    top: 0;
    left: 5px;
    width: 100px;
    height: 100%;
}

.contact-animation:before, .contact-animation:after {
    position: absolute;
    content: '';
    top: 50%;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    border: 1px solid transparent;
    border-radius: 50%;
    pointer-events: none;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: border-color 0.8s linear;
    -moz-transition: border-color 0.8s linear;
    -ms-transition: border-color 0.8s linear;
    transition: border-color 0.8s linear;
}

.media-icons li:hover { cursor: pointer; }
.media-icons li:hover .contact-animation:before,
.media-icons li:hover .contact-animation:after { border-color: rgba(88, 95, 108, 0.2); }

.contact-animation:before {
    -webkit-animation: pulse 3s infinite 1.5s linear;
    -moz-animation: pulse 3s infinite 1.5s linear;
    -ms-animation: pulse 3s infinite 1.5s linear;
    animation: pulse 3s infinite 1.5s linear;
}

.contact-animation:after {
    -webkit-animation: pulse 3s infinite linear;
    -moz-animation: pulse 3s infinite linear;
    -ms-animation: pulse 3s infinite linear;
    animation: pulse 3s infinite linear;
}

.media-icons .icon-phone a { left: 6px; }
.media-icons .icon-email a { left: -20px; width: 120px; }
.media-icons .icon-skype a { left: 5px; }
.media-icons .icon-linkedin a { left: 5px; }
.media-icons .icon-facebook a { left: 5px; }
.media-icons .icon-resume a { left: 7px; }

@media (max-width: 991px) {
    .opacity-bg2 { background-color: rgba(255, 255, 255, 0.5); }
    .media-icons ul { padding-top: 45px; }
    .media-icons li { margin: 0 90px 50px 0; }
    .media-icons li:nth-of-type(3) { margin-right: 0; }
    .media-icons li a { font-weight: 600; }
}

@media (max-width: 767px){ .media-icons li { margin-right: 100px; }}
@media (max-width: 630px){ .media-icons li { margin-right: 60px; }}
@media (max-width: 520px){ .media-icons li { margin-right: 45px; }}

@media (max-width: 444px){
    .media-icons ul { padding-top: 25px; }
    .media-icons li:nth-child(1n) { margin-right: 45px; }
    .media-icons li:nth-child(2n) { margin-right: 0; }
}

