
#experience { background-color: #958C8D; }

.counter-skills {
    min-height: 220px;
}

.counter-skills ul {
    text-align: center;
    padding: 56px 0;
    color: #fff;
}

.counter-skills li p:nth-of-type(1) {
    position: relative;
    display: inline-block;
    font: normal 70px "Montserrat Light";
}

.counter-skills li p:nth-of-type(2) {
    font: normal 20px "Montserrat Light";
}

.counter-skills p:before {
    position: absolute;
    left: -80px;
    top: 15px;
    font: normal 40px "icomoon";
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
    opacity: 0.7;
}

.counter-skills li p, .counter-skills p:before {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 992px) {
    .counter-skills ul, .counter-skills li { padding: 33px 0; }

    .counter-skills li p:nth-of-type(1) { font-size: 55px; }
    .counter-skills li p:nth-of-type(2) { font-size: 17px; }

    .counter-skills p:before { font-size: 30px; }
}

@media (max-width: 768px) {
    .counter-skills ul,
    .counter-skills li { padding: 20px 0; }
}


.my-experience {
    background: url("../images/experience-bg.jpg") center 80%;
    background-size: cover;
    min-height: 520px;
}

.my-experience .container { padding: 65px 0 159px 0; }

.opacity-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(88, 95, 108, 0.15);
}

.my-experience .small-title { padding-bottom: 100px; }

.round {
    position: relative;
    display: inline-block;
    padding-left: 10px;
}

.round p { position: absolute; }

.percent {
    top: 52px;
    left: 45px;
    font: normal 39px "Montserrat Light";
    color: #000;
}

.skill {
    bottom: -40px;
    color: #fff;
    font: normal 25px "Montserrat Light";
}

.circle-html .skill { left: 50px; }
.circle-css .skill { left: 63px; }
.circle-javascript .skill { left: 28px; }

@media (max-width: 767px) {
    .my-experience .container { padding-bottom: 65px; }

    .my-experience .small-title {
        text-align: center;
        padding-bottom: 65px;
    }
    .round {
        padding-left: 0;
        margin-bottom: 50px;
    }
    .percent { left: 36px; }

    .circle-html .skill { left: 40px; }
    .circle-css .skill { left: 53px; }
    .circle-javascript .skill { left: 18px; }

    .skill { bottom: -30px; }
}






















