/* header start*/
header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
}

.logo {
    position: relative;
    display: inline-block;
    float: left;
    font-size: 5.4em;/*76px;*/
    padding-top: 4px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}
.logo:hover, .logo:focus { color: #fff; }

.core {
    position: absolute;
    width: 0.09em;
    height: 0.09em;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;

    -webkit-animation: logo-atom-animation 20s infinite linear;
    -moz-animation: logo-atom-animation 5s infinite linear;
    -ms-animation: logo-atom-animation 5s infinite linear;
    animation: logo-atom-animation 5s infinite linear;
}

.core.one {
    top: 23px;
    left: 2px;
}

.core.two {
    top: 23px;
    left: 44px;
}



.nav li {
    float: left;
    padding: 32px 0;
    margin-right: 20px;
}
.nav li:last-of-type { margin-right: 0; }
.nav li:first-of-type { display: none; }

.nav li a {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font: 15px 'Raleway';
}

/* toggle navbar menu start */
.navbar {
    position: relative;
    float: right;
    padding: 10px;
    margin: 22px 15px 22px 0;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.navbar .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}

.navbar .icon-bar + .icon-bar { margin-top: 4px; }

.my-button, .animated-menu {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}
.button-animate { margin-left: 5px; }

.dark-header { background-color: rgba(0, 0, 0, 0.7); }

@media (min-width: 992px){ .animated-menu.collapse { display: block; }}

@media (max-width: 992px){
    header { background-color: rgba(0, 0, 0, 0.5); }

    .logo {
        font-size: 3.6em;/*50px;*/
        padding: 15px;
    }

    .core {
        width: 0.07em;
        height: 0.07em;
    }

    .core.one {
        top: 28px;
        left: 18px;
    }

    .core.two {
        top: 28px;
        left: 44px;
    }

    .nav li {
        float: none;
        width: 150px;
        padding: 14px 0;
        margin: 0 auto;
        text-align: center;
    }
    .nav li:last-of-type { margin: 0 auto; }

    .animated-menu { float: none; }

    header .animated-menu { margin: 24px 0 10px 0; }
}
/* toggle navbar menu end */
/* header end */