/* header start*/
header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
}

.logo {
    position: relative;
    display: inline-block;
    float: left;
    color: #fff;
    width: 1em;
    height: 1em;
    background-image: url('../images/science-logo.svg');
    background-size: contain;
    font-size: 55px;
    margin-top: 14px;
}

.orbit {
    transform-origin: center;
    width: 100%;
    top: 50%;
    position: absolute;
}
.orbit-1 { transform: rotate(30deg); }
.orbit-2 { transform: rotate(150deg); }
.orbit-3 { transform: rotate(90deg); }

.moveX {
    background-color: red;
    -webkit-animation: mX 20s ease-in-out 0s infinite;
    animation: mX 20s ease-in-out 0s infinite;
}

.moveY {
    width: 0.5em;
    background: blue;
    /*height: 1px;*/
    -webkit-animation: mO 20s linear 0s infinite;
    animation: mO 20s linear 0s infinite;
}

.core {
    position: absolute;
    width: 0.09em;
    height: 0.09em;
    background-color: #fff;
    border-radius: 50%;

    margin-top: -0.045em;
    margin-left: -0.045em;
}


@-webkit-keyframes mX {
    0% { -webkit-transform: translateX(0px)    }
    50% { -webkit-transform: translateX(0.5em); }
    100% { -webkit-transform: translateX(0px)    }
}
@-webkit-keyframes mO {
    0% { -webkit-transform: rotate(0deg);   }
    100% { -webkit-transform: rotate(360deg); }
}


























.nav li {
    float: left;
    padding: 32px 0;
    margin-right: 20px;
}
.nav li:last-of-type { margin-right: 0; }
.nav li:first-of-type { display: none; }

.nav li a {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font: 15px 'Raleway';
}

/* toggle navbar menu start */
.navbar {
    position: relative;
    float: right;
    padding: 10px;
    margin: 22px 15px 22px 0;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.navbar .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}

.navbar .icon-bar + .icon-bar { margin-top: 4px; }

.my-button, .animated-menu {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}
.button-animate { margin-left: 5px; }

.dark-header { background-color: rgba(0, 0, 0, 0.7); }

@media (min-width: 992px){ .animated-menu.collapse { display: block; }}

@media (max-width: 992px){
    header { background-color: rgba(0, 0, 0, 0.5); }

    .logo {
        font-size: 3.6em;/*50px;*/
        padding: 15px;
    }

    .core {
        width: 0.07em;
        height: 0.07em;
    }

    .core.one {
        top: 28px;
        left: 18px;
    }

    .core.two {
        top: 28px;
        left: 44px;
    }

    .nav li {
        float: none;
        width: 150px;
        padding: 14px 0;
        margin: 0 auto;
        text-align: center;
    }
    .nav li:last-of-type { margin: 0 auto; }

    .animated-menu { float: none; }

    header .animated-menu { margin: 24px 0 10px 0; }
}
/* toggle navbar menu end */
/* header end */