#skills {
    background-color: #A49A9B;
    height: 600px;
}

.cloud-img {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax-layer1 {
    position: absolute;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 2;
    -webkit-animation: anim1 10s infinite linear;
    -moz-animation: anim1 10s infinite linear;
    -ms-animation: anim1 10s infinite linear;
    animation: anim1 10s infinite linear;
}

.parallax-layer2 {
    position: absolute;
    top: 5% !important;
    left: 0 !important;
    right: 0 !important;
    -webkit-animation: anim2 15s infinite linear;
    -moz-animation: anim2 15s infinite linear;
    -ms-animation: anim2 15s infinite linear;
    -o-animation: anim2 15s infinite linear;
    animation: anim2 15s infinite linear;
}

.parallax-layer1 div { background: url(../images/parallax_1.png) no-repeat 50% 50%; }
.parallax-layer2 div { background: url(../images/parallax_2.png) no-repeat 50% 50%; }

.parallax-layer1 div, .parallax-layer2 div {
    height: 550px;
    background-size: contain;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .parallax-layer1 div, .parallax-layer2 div { height: 450px; }
    #skills, .cloud-img { height: 500px; }
}

@media (min-width: 768px) and (max-width: 991px) {
    .parallax-layer1 div, .parallax-layer2 div { height: 300px; }
    #skills, .cloud-img { height: 350px; }
}

@media (max-width: 767px) {
    .parallax-layer1 div { background: url(../images/parallax_1-mobile.png) no-repeat 50% 50%; }
    .parallax-layer2 div { background: url(../images/parallax_2-mobile.png) no-repeat 50% 50%; }
    .parallax-layer1 div, .parallax-layer2 div { background-size:  contain; }
}