
/* landing-page start */
#landing-page {
    height: 904px;
    background: url("../images/pc-bg.jpg") no-repeat center center;
    background-size: cover;
    color: #33313C;
    text-align: center;
}

#landing-page h1 {
    font: bold 46px "Raleway";
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 245px 0 35px 0;
}

#landing-page h2 {
    font: 500 31px "Raleway";
    line-height: 1.5;
    margin-bottom: 105px;
}

/* landing page button start */

.wrap-lp-button { float: right; }
.lp-button {
    position: relative;
    width: 200px;
    border: 1px solid #33313C;
    display: inline-block;
    vertical-align: middle;
    font: normal 15px "Raleway";
    text-transform: uppercase;
    line-height: 46px;
    padding-top: 4px;
    overflow: hidden;
}

.lp-button:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #33313C;
    color: #fff;
    padding-top: 4px;
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate3d(0,100%,0);
    -ms-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: -moz-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: -ms-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
}

.lp-button span {
    color: #33313C;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: -moz-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: -ms-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
}

.lp-button:hover span {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transform: translate3d(0,-14px,0);
    -moz-transform: translate3d(0,-14px,0);
    -ms-transform: translate3d(0,-14px,0);
    transform: translate3d(0,-14px,0);
}

.lp-button:hover:after {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

@media (max-width: 767px) {
    #landing-page h1 { font-size: 36px; }
    #landing-page h2 { font-size: 27px; }

    #landing-page h1, #landing-page h2 {
        margin-left: 5px;
        margin-right: 5px;
    }

    #landing-page .lp-button {
        display: block;
    }

    #landing-page .lp-button:nth-of-type(1),
    #landing-page .lp-button:nth-of-type(2) { margin-right: 0; }

    #landing-page .lp-button:nth-of-type(1) { margin-bottom: 20px; }

    .wrap-lp-button {
        float: none;
        width: 200px;
        margin: 0 auto;
    }
}
/* landing page button end */
/* landing page end */